.m-address-dialog {
  @include media($_DESKTOP){
    display: flex;
  }

  &__main {
    background: $color-grey-1;
  }

  &__address {
    padding: 30px;
    border-bottom: solid 1px $color-grey-2;
  }

  &__address:last-of-type {
    border-bottom: none;
  }

  &__link {
    line-height: 1.75em;
  }

  &__close {
    display: none;

    @include media($_DESKTOP){
      background: $color-primary;
      width: 40px;
      height: 40px;
      padding: 5px;
      display: block;
      transition: background-color $transition-fast $transition-ease;

      @include hover {
        background: $color-primary-dark;
      }
    }

    svg{
      width: 30px;
      height: 30px;
      stroke: $color-white;
    }
  }
}