{% set map_field = {} %}
{% for field in map_block.get_field('content') %}
	{% if field.acf_fc_layout == 'map' %}
		{% set map_field = field %}
	{% endif %}
{% endfor %}

<article class="o-engagement-map">
	<div class="o-engagement-map__cat-title">
		{% include 'atoms/a-cat-title.twig' with block_title only %}
	</div>
	<h3 class="o-engagement-map__title">{{ title|wptexturize }}</h3>
	<div class="o-engagement-map__main-wrapper">
		<div class="o-engagement-map__desc-wrapper">
			{{ text }}
		</div>
		<div class="o-engagement-map__map-wrapper">
			{% include 'molecules/m-map.twig' with map_field only %}
	</div>
</article>
