<article class="o-positions">
	<div class="o-positions__cat-title">
		{% include 'atoms/a-cat-title.twig' with block_title only %}
	</div>
	<div class="o-positions__articles">
		{% for position in positions %}
			<div class="o-positions__article">
				{% include 'molecules/m-front-article.twig' with {
					'modifiers': ['m-front-article--list', 'm-front-article--no-image'],
					'post': {
						'link': position.read_more_link,
						'title': position.title,
						'list_items': position.position
					}
				} only %}
			</div>
		{% endfor %}
	</div>
</article>
