<article class="o-vote">
	<div class="o-vote__cat-title">
		{% include 'atoms/a-cat-title.twig' with block_title only %}
	</div>
	<div class="o-vote__proposals">
		{% set num_proposals = proposals|length %}

		{% for proposal in proposals %}
			{% set tag = proposal.flag %}

			{% if 'internal' == proposal.proposal_link.type %}
				{% set acf_post = ACFPost(proposal.proposal_link.internal_link.post) %}
				{% set label = proposal.proposal_link.internal_link.title|default(acf_post.title) %}
				{% set link = acf_post.link %}
				{% if num_proposals < 3 %}
					{% set excerpt = acf_post.excerpt() %}
				{% endif %}
			{% else %}
				{% set label = proposal.proposal_link.external.title %}
				{% set link = proposal.proposal_link.external.url %}
				{% if num_proposals < 3 %}
					{% set excerpt = proposal.proposal_link.external.teaser %}
				{% endif %}
			{% endif %}

			<a href="{{ link }}" {{ link_props(link) }} class="o-vote__proposal">
				{% include 'molecules/m-vote.twig' with {
					'label': label,
					'tag': tag,
					'excerpt': excerpt
				} only %}
			</a>
		{% endfor %}
	</div>
	{% if footer.link %}
		<footer class="o-vote__more">
			<div class="o-vote__link-button">
				{% include 'atoms/a-link-button.twig' with {
					'link': footer.link,
					'label': footer.link_label
				} only %}
			</div>
		</footer>
	{% endif %}
</article>
