@use "sass:math";
@use "../../../scss/variables" as v;
@use "../../../scss/mixins" as m;

.a-footer-link-list {
	&__title {
		margin-top: 0;
		margin-bottom: 40px;
		@include m.fluid-props(font-size, v.$size-tiny, v.$size-medium, 20px, 32px);
	}

	&__list {
		font-size: 0.875rem;
		display: grid;
		grid-template-columns: repeat(2, calc(50% - 12px));
		grid-column-gap: 24px;
		width: calc(100vw - #{2*v.$grid-item-padding-min});

		@include m.media(v.$size-tiny) {
			grid-template-columns: repeat(3, calc(33% - 16px));
		}

		@include m.media(v.$DESKTOP) {
			width: 100%;
		}

		@include m.only_ie10_above {
			display: flex;
			flex-wrap: wrap;
			flex-direction: row;
			align-content: flex-start;
		}
	}

	&__item {
		@include m.clean-li;
		width: 100%;

		@include m.only_ie10_above {
			width: 120px;
			margin-right: 20px;
		}
	}

	&__link {
		@include m.clean-link;
		
		& {
			line-height: 1.75em;
			padding: 7px 0 8px;
			display: block;
			position: relative;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		&:after {
			content: ' ';
			width: 36px;
			height: 1px;
			background-color: v.$color-grey-2;
			position: absolute;
			bottom: 0;
			left: 0;
			transition: width v.$transition-fast v.$transition-ease;
		}

		@include m.hover {
			&:after {
				width: 69px;
				background-color: v.$color-primary;

				@include m.high-contrast {
					background-color: v.$color-primary-dark;
				}
			}
		}
	}
}
