.a-footer-link-list {
  &__title {
    margin-top: 0;
    margin-bottom: 40px;
    font-size: 1.25rem;

    @include media($_DESKTOP) {
      font-size: 2rem;
    }
  }

  &__list {
    font-size: 0.875rem;
    display: grid;
    grid-template-columns: repeat(2, calc(50% - 16px));
    grid-column-gap: 32px;
    width: 100%;

    @include media($size-tiny) {
      grid-template-columns: repeat(3, calc(33% - 21px));
    }
  }

  &__item {
    @include clean-li;
    width: 100%;
  }

  &__link {
    @include clean-link;
    line-height: 1.75em;
    padding: 7px 0 8px;
    display: block;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &:after {
      content: ' ';
      width: 36px;
      height: 1px;
      background-color: $color-grey-2;
      position: absolute;
      bottom: 0;
      left: 0;
      transition: width $transition-fast $transition-ease;
    }

    @include hover {
      &:after {
        width: 69px;
        background-color: $color-primary;
      }
    }
  }
}