<div class="a-menu-featured">
    {{> @a-cat-title cat-title}}
    <img class="a-menu-featured__image" src="{{ img.src }}" alt="{{ img.alt }}">
    <h3 class="a-menu-featured__title">{{ title }}</h3>
    <p class="a-menu-featured__text">{{ text }}</p>
    {{> @a-button button}}
</div>