/* Sanuk Fat */
@font-face {
	font-family: 'Sanuk Fat';
	font-style: normal;
	font-weight: 900;
	font-display: swap;
	src: url('../fonts/5423054/38B772.eot'); /* IE9 Compat Modes */
	src: local('Sanuk Fat'), local('Sanuk-Fat'),
	url('fonts/5423054/38B772.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('fonts/5423054/38B772.woff2') format('woff2'), /* Super Modern Browsers */
	url('fonts/5423054/38B772.woff') format('woff'), /* Modern Browsers */
	url('fonts/5423054/38B772.ttf') format('truetype') /* Safari, Android, iOS */
}

/* open-sans-regular - latin */
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('../fonts/open-sans/open-sans-v15-latin-regular.eot'); /* IE9 Compat Modes */
	src: local('Open Sans Regular'), local('OpenSans-Regular'),
	url('fonts/open-sans/open-sans-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('fonts/open-sans/open-sans-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
	url('fonts/open-sans/open-sans-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
	url('fonts/open-sans/open-sans-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
	url('fonts/open-sans/open-sans-v15-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-600 - latin */
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url('../fonts/open-sans/open-sans-v15-latin-600.eot'); /* IE9 Compat Modes */
	src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
	url('fonts/open-sans/open-sans-v15-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('fonts/open-sans/open-sans-v15-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
	url('fonts/open-sans/open-sans-v15-latin-600.woff') format('woff'), /* Modern Browsers */
	url('fonts/open-sans/open-sans-v15-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
	url('fonts/open-sans/open-sans-v15-latin-600.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-800 - latin */
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 800;
	font-display: swap;
	src: url('../fonts/open-sans/open-sans-v15-latin-800.eot'); /* IE9 Compat Modes */
	src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'),
	url('fonts/open-sans/open-sans-v15-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('fonts/open-sans/open-sans-v15-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
	url('fonts/open-sans/open-sans-v15-latin-800.woff') format('woff'), /* Modern Browsers */
	url('fonts/open-sans/open-sans-v15-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
	url('fonts/open-sans/open-sans-v15-latin-800.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* Alias for Arial Black fallback */
@font-face {
	font-family: 'OpenSansBold';
	font-style: normal;
	font-weight: 800;
	font-display: swap;
	src: url('../fonts/open-sans/open-sans-v15-latin-800.eot'); /* IE9 Compat Modes */
	src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'),
	url('fonts/open-sans/open-sans-v15-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('fonts/open-sans/open-sans-v15-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
	url('fonts/open-sans/open-sans-v15-latin-800.woff') format('woff'), /* Modern Browsers */
	url('fonts/open-sans/open-sans-v15-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
	url('fonts/open-sans/open-sans-v15-latin-800.svg#OpenSans') format('svg'); /* Legacy iOS */
}
