/**
 * Extend this class to use the global grid system in your templates.
 * Based on the powerfull CSS Grid Layout.
 */
.grid-width {
	@include fluid-props(max-width, $fluid-min, $fluid-max, $grid-max-width-min, $grid-max-width-max);

	margin-left: auto;
	margin-right: auto;
}

.grid {
	@extend .grid-width;
	@include fluid-props(grid-column-gap, $fluid-min, $fluid-max, $grid-gap-min, $grid-gap-max);
	display: grid;
	grid-template-columns: repeat($grid-nb-columns, 1fr);
}

.grid-item {
	max-width: 651px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	@include fluid-grid-item-props(padding);

	@include media($_DESKTOP) {
		max-width: 100%;
	}
}

