/**
 * Extend this class to use the global grid system in your templates.
 * Based on the powerfull CSS Grid Layout.
 */
@use 'variables' as v;
@use 'mixins' as m;
.grid-width {
	margin-left: auto;
	margin-right: auto;
	@include m.fluid-props(max-width, v.$fluid-min, v.$fluid-max, v.$grid-max-width-min, v.$grid-max-width-max);
}

.grid {
	@extend .grid-width;
	display: grid;
	grid-template-columns: repeat(v.$grid-nb-columns, 1fr);
	@include m.fluid-props(grid-column-gap, v.$fluid-min, v.$fluid-max, v.$grid-gap-min, v.$grid-gap-max);
}

.grid-item {
	max-width: 651px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	@include m.fluid-grid-item-props(padding);

	@include m.media(v.$DESKTOP) {
		max-width: 100%;
	}
}

