/**
 * SET SOME GLOBAL HTML & BODY RULES.
 */

html {
	font-family: $font-primary;
	scroll-behavior: smooth;
}

body.no-scroll {
	overflow: hidden;
	height: 100vh;
}

.screen-reader-text {
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}
