{
	"env": {
    "browser": true,
    "node": true,
    "es6": true
  },
	"extends": "eslint:recommended",
	"parserOptions": {
		"ecmaVersion": 6,
		"sourceType": "module",
		"ecmaFeatures": {
			// used for gutenberg blocks
			"jsx": true
		}
	},
	"rules": {
		"no-console": [ "warn" ]
	},
	"globals": {
		"viewport_service": false,
		"wp": true
	}
}
