<div class="m-footer-contact">
    <h2 class="m-footer-contact__title">{{title}}</h2>
    <div class="m-footer-contact__flex">
        <div class="m-footer-contact__text">{{{address}}}</div>
        <div class="m-footer-contact__social">
            {{> @a-social-icon facebook}}
            {{> @a-social-icon twitter}}
        </div>
    </div>
    <div class="m-footer-contact__button">{{> @a-button button}}</div>
</div>