@use "sass:math";
@use "../../../scss/variables" as v;
@use "../../../scss/mixins" as m;

.m-footer-cta {
	display: flex;
	flex-direction: column;

	&__title {
		margin-top: 0;
		margin-bottom: 40px;
		color: v.$color-secondary;
		@include m.fluid-props(font-size, v.$size-tiny, v.$size-medium, 20px, 32px);
	}

	&__button {
		margin-bottom: 25px;
		font-size: 0.875rem;
	}
}
