.m-footer-cta {
  display: flex;
  flex-direction: column;

  &__title {
    margin-top: 0;
    margin-bottom: 40px;
    font-size: 1.25rem;
    color: $color-secondary;

    @include media($_DESKTOP) {
      font-size: 2rem;
    }
  }

  &__button {
    margin-bottom: 25px;
  }
}