<div class="m-footer-cta">
    <h2 class="m-footer-cta__title">{{ title }}</h2>
    {{#each ctas}}
        <div class="m-footer-cta__button">
            {{> @a-button .}}
        </div>
    {{/each}}
</div>