@use "sass:math";
@use "../../../scss/variables" as v;
@use "../../../scss/mixins" as m;

.a-event-link {
	@include m.clean-link;

	& {
		display: grid;
		grid-template-columns: 1fr;
		grid-column-gap: 12px;
	}
	@include m.fluid-props(padding-top padding-bottom, v.$fluid-min, v.$fluid-max, 18px, 22px);

	@include m.media(v.$size-tiny) {
		grid-template-columns: 80px 1fr;
	}

	@include m.media(v.$DESKTOP) {
		grid-template-columns: 148px 1fr;
		grid-column-gap: 32px;
	}

	@include m.only_ie10_above {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}

	&__image {
		width: 100%;
		height: 80px;
		background-size: cover;
		background-position: center center;
		grid-column: 1 / 2;
		grid-row: 1 / 3;
		display: none;

		@include m.media(v.$size-tiny) {
			display: block;
		}

		@include m.media(v.$DESKTOP) {
			height: 94px;
		}

		@include m.only_ie10_above {
			width: 148px;
			margin-right: 32px;
		}
	}

	&__title {
		margin: 0;
		align-self: start;
		color: v.$color-text;
		font-size: 1rem;
		hyphens: auto;

		@include m.media(v.$MOBILE) {
			position: relative;
			padding-right: 2em;

			&:after {
				content: "";
				width: 0.6em;
				height: 0.6em;
				border-top: 0.1666666667em solid v.$color-primary; // 2/12
				border-right: 0.1666666667em solid v.$color-primary; // 2/12
				transform: translateX(-0.2em) translateY(-50%) rotate(45deg);
				position: absolute;
				right: 0;
				top: 50%;

				@include m.high-contrast {
					border-color: v.$color-primary-dark;
				}
			}
		}

		@include m.only_ie10_above {
			width: calc(100% - 180px);
			display: block;
		}
	}

	&__meta {
		font-size: 0.875rem;
		line-height: 1.4em;
		align-self: end;
		margin-top: 0.8571428571em;

		@include m.only_ie10_above {
			margin-left: 180px;
			margin-top: -32px;
		}
	}

	&__datetime {
		display: inline-block;
		margin-right: 0.75em;
	}

	&__place {
		display: inline-block;

		&:before {
			content: "\25A0";
			color: v.$color-secondary;
			margin-right: 0.85em;
			display: inline-block;
			transform: translateY(-0.1em) rotate(-5deg);
			font-size: 0.9em;
			-webkit-text-size-adjust: 50%;
		}
	}
}
