

<div class="a-footer-meta">
	<div class="a-footer-meta__wrapper">
		<div class="a-footer-meta__copy">© 2018 Grüne Schweiz</div>
		<nav class="a-footer-meta__menu">
			<ul class="a-footer-meta__list" role="menu" aria-label="Footer Meta Navigation">
					<li class="a-footer-meta__item">
						<a href="#" class="a-footer-meta__link">Datenschutz</a>
					</li>
					<li class="a-footer-meta__item">
						<a href="#" class="a-footer-meta__link">Impressum</a>
					</li>
			</ul>
		</nav>
	</div>
</div>

