

<div class="a-pagination">
	<a href="#" class="a-pagination__link a-pagination__link--icon a-pagination__link--first a-pagination__link--disabled" title="First Page">
		<svg role="img">
			<title>First Page</title>
			<use xlink:href="#last"></use>
		</svg>
	</a>
	<a href="#" class="a-pagination__link a-pagination__link--icon a-pagination__link--prev a-pagination__link--disabled" title="Previous Page">
		<svg role="img">
			<title>Previous Page</title>
			<use xlink:href="#next"></use>
		</svg>
	</a>
	<ul class="a-pagination__list">
		<li class="a-pagination__item"><span class="a-pagination__link a-pagination__link--current">1</span></li>
		<li class="a-pagination__item"><a href="#" class="a-pagination__link">2</a></li>
		<li class="a-pagination__item"><a href="#" class="a-pagination__link">3</a></li>
		<li class="a-pagination__item"><a href="#" class="a-pagination__link">4</a></li>
		<li class="a-pagination__item"><a href="#" class="a-pagination__link">5</a></li>
		<li class="a-pagination__item"><a href="#" class="a-pagination__link">6</a></li>
	</ul>
	<a href="#" class="a-pagination__link a-pagination__link--icon a-pagination__link--next" title="Next Page">
		<svg role="img">
			<title>Next Page</title>
			<use xlink:href="#next"></use>
		</svg>
	</a>
	<a href="#" class="a-pagination__link a-pagination__link--icon a-pagination__link--last" title="Last Page">
		<svg role="img">
			<title>Last Page</title>
			<use xlink:href="#last"></use>
		</svg>
	</a>
</div>

