

<div class="a-post-meta">
		<time class="a-post-meta__date" datetime="2018-10-03T00:00:00.000Z">03.10.2018</time>
	<div class="a-post-meta__tags">
			<a href="" class="a-post-meta__category">Medienmitteilungen</a>
			<a href="" class="a-post-meta__category">Energie</a>
			<a href="" class="a-post-meta__category">Verkehr</a>
			<a href="" class="a-post-meta__tag">Fabi</a>
			<a href="" class="a-post-meta__tag">Bahninfrastruktur</a>
			<a href="" class="a-post-meta__tag">Bahn</a>
			<a href="" class="a-post-meta__tag">SBB</a>
	</div>
</div>

