

<div class="a-progress">
				<p class="a-progress__legend"><strong><span class="a-progress__legend-value">37896</span> haben unterschrieben.</strong> Erreichen wir 50000?</p>
    <div class="a-progress__container">
        <div
                class="a-progress__bar"
                role="progressbar"
                style="width: 75.79351587%"
                aria-valuenow="37896"
                aria-valuemin="1"
                aria-valuemax="50000"
				>
						<span class="a-progress__current">
							<span class="a-progress__value">37896</span>&nbsp;CHF
						</span>
				</div>
    </div>
</div>

