

<div class="a-progress">
			<small class="a-progress__max">&nbsp;CHF</small>
    <div class="a-progress__container">
        <div
                class="a-progress__bar"
                role="progressbar"
                style="width: 28%"
                aria-valuenow="14000"
                aria-valuemin="1"
                aria-valuemax="50000"
				>
						<span class="a-progress__current a-progress__current--right">
							<span class="a-progress__value">14000</span>&nbsp;CHF
						</span>
				</div>
    </div>
</div>

