

<div class="a-search a-search--inverted a-search--expanded">
	<form role="search" method="get" id="searchform" class="a-search__form" action="" autocomplete="off">
		<div>
			<label class="screen-reader-text" for="s">Suche</label>
			<input class="a-search__field" type="text" value="" name="s" id="s" placeholder="Suche">
			<label class="a-search__submit-label">
				<input class="a-search__submit" type="submit" id="searchsubmit" value="">
				<svg class="a-search__icon" aria-hidden="true">
					<title></title>
					<use xlink:href="#glass"></use>
				</svg>
			</label>
		</div>
	</form>
</div>

