

<div class="a-submenu a-submenu--featured">
		<div class="a-submenu--featured__cat-title">
			<h2 class="a-cat-title">
					<span class="a-cat-title__link a-cat-title__link--no-link">Fair-Food-Initiative</span>
			</h2>
		</div>
		<div class="a-submenu--featured__image">
			<figure class="a-image a-image--cover">
				<a class="a-image__link" href="#" tabindex="-1">
				<img src="/img/wheat_ratio.jpg" alt="Symbolbild Fair-Food" title="This is a linked image" class="a-image__image a-image__image--fp a-image__image--fp-">
				</a>
					<figcaption>
						
			
					</figcaption>
			</figure>
		</div>
		<a class="a-submenu--featured__link" href="#">
			<h3 class="a-submenu--featured__link__title">Fair schmeckt besser!</h3>
		</a>
			<p class="a-submenu--featured__text">Umweltfreundlich und fair hergestellte Lebensmittel – dies wollen die Grünen mit der Fair-Food-Initiative erreichen.</p>
				<button type="button"
								class="a-button ">Kampagne anzeigen</button>
</div>

