

<div class="a-submenu ">
		<a class="a-submenu__title" href="#">Submenu</a>
		<ul class="a-submenu__list">
				<li class="a-submenu__item">
					<a class="a-submenu__link" href="#">Fair-Food</a>
				</li>
				<li class="a-submenu__item">
					<a class="a-submenu__link" href="#">Petition «Nein zur Lex Beznau»</a>
				</li>
				<li class="a-submenu__item">
					<a class="a-submenu__link" href="#">Referendum gegen Versicherungsspione</a>
				</li>
				<li class="a-submenu__item">
					<a class="a-submenu__link" href="#">Events</a>
				</li>
		</ul>
</div>

