

<div class="m-bars m-bars--right">
	<div class="m-bars__rotator">
		<div class="m-bars__positioner">
				<div class="m-bars__bar">
					<div class="a-bar a-bar--green a-bar--right a-bar--no-sanuk">Engagiere dich</div>
				</div>
				<div class="m-bars__bar">
					<div class="a-bar a-bar--magenta a-bar--right a-bar--no-sanuk">für Fair-Food</div>
				</div>
				<div class="m-bars__bar">
					<div class="a-bar a-bar--white a-bar--right a-bar--subline a-bar--no-sanuk">zusammen die Welt verändern</div>
				</div>
		</div>
	</div>
</div>

