

<div class="m-campaign-cta">
	<h3 class="m-campaign-cta__title">Ich will zum Erfolg beitragen!</h3>
	<p class="m-campaign-cta__text">Hiermit abonniere ich den Newsletter, der mich laufend über alle Aktivitäten und Mitmachmöglichkeiten informiert.</p>
	<form class="m-campaign-cta__grid">
		<div class="m-campaign-cta__postal-code"><div class="a-input">
	<label for="plz" class="a-input__label a-input__label--required">
		PLZ
	</label>
		<input id="plz"
					 class="a-input__field  is-required"
					 type="text"
					 pattern="(\w{0,3}(?&lt;&#x3D;\w)-)?\d{4,6}"
					 name="plz"
					 value=""
			required>
</div>
</div>
		<div class="m-campaign-cta__email"><div class="a-input">
	<label for="email" class="a-input__label a-input__label--required">
		E-Mail
	</label>
		<input id="email"
					 class="a-input__field  is-required"
					 type="email"
					 
					 name="email"
					 value=""
			required>
</div>
</div>
		<div class="m-campaign-cta__consent"><div class="a-checkoption">
		<input type="hidden" name="datenschutz" value="0">
		<input id="datenschutz"
					 class="a-checkoption__field"
					 type="checkbox"
					 name="datenschutz"
					 required
			>
	<label for="datenschutz" class="a-checkoption__label a-checkoption--legal">
		Ich akzeptiere die Datenschutzbestimmungen.
	</label>
</div>
</div>
		<div class="m-campaign-cta__button">	<button type="button"
					class="a-button a-button--secondary">Mitmachen</button>
</div>
	</form>
</div>

