

<div class="m-campaign-desc">
	<h2 class="m-campaign-desc__title">
		<a href="" class="m-campaign-desc__link">Fair schmeckt besser!</a>
	</h2>
	<p class="m-campaign-desc__desc">Die Fair-Food Initiative verlangt, was für alle selbstverständlich ist: Lebensmittel aus einer naturnahen, umwelt- und tierfreundlichen Landwirtschaft mit fairen Arbeitsbedingungen fördern. Dabei soll es keine Rolle spielen, ob die Lebensmittel aus der Schweiz stammen oder importiert sind.</p>
	<div class="m-campaign-desc__more">
		<a href="#" class="a-link-button ">
			Mehr über die Fair-Food Initiative
		</a>
	</div>
</div>

