

<div class="m-event-details">
	<div class="m-event-details__time-wrapper">
		<svg role="img" class="m-event-details__icon">
			<title>Datum und Dauer</title>
			<use xlink:href="#clock"></use>
		</svg>
		<time class="m-event-details__time"
					datetime="2019-10-31 17:33">31. Oktober 2019 | 17:33 &ndash; 19:22</time>
	</div>
	<div class="m-event-details__location-wrapper">
		<svg role="img" class="m-event-details__icon">
			<title>Ort</title>
			<use xlink:href="#location"></use>
		</svg>
		<span class="m-event-details__location">Landgasthof, Baselstrasse 38, Riehen</span>
	</div>
	<div class="m-event-details__link-button">
		<div class="a-link-button ">
			Save to calendar (ICS)
		</div>
	</div>
</div>

