

<section class="m-footer-cta">
	<h2 class="m-footer-cta__title">Engagiere dich</h2>
		<div class="m-footer-cta__button">
				<button type="button"
								class="a-button a-button--secondary a-button--full-width">Newsletter abonnieren</button>
		</div>
		<div class="m-footer-cta__button">
				<button type="button"
								class="a-button a-button--outline a-button--secondary a-button--full-width">Mitglied werden</button>
		</div>
		<div class="m-footer-cta__button">
				<button type="button"
								class="a-button a-button--outline a-button--secondary a-button--full-width">Spenden</button>
		</div>
</section>

