

<section class="m-footer-contact">
	<h2 class="m-footer-contact__title">Kontakt</h2>
	<div class="m-footer-contact__flex">
		<div class="m-footer-contact__text"><p><strong>Grüne Schweiz</strong><br><strong>Les Verts suisses</strong><br>Waisenhausplatz 21<br>3011 Bern</p><p>031 326 66 00<br>Postkonto 80-26747-3</p><p><a href='mailto:gruene@gruene.ch' class='a-button'>E-Mail senden</a></p></div>
		<div class="m-footer-contact__social">
			<a href="https://www.facebook.com/gruenelesverts/" class="a-social-icon"
																aria-label="">
				<figure class="a-social-icon__figure">
					<svg role="img" class="a-social-icon__svg">
						<title>facebook</title>
						<use xlink:href="#facebook"></use>
					</svg>
			
				</figure>
				</a>
			<a href="https://twitter.com/GrueneCH" class="a-social-icon"
																aria-label="">
				<figure class="a-social-icon__figure">
					<svg role="img" class="a-social-icon__svg">
						<title>twitter</title>
						<use xlink:href="#twitter"></use>
					</svg>
			
				</figure>
				</a>
			<a href="https://www.instagram.com/gruenelesverts/" class="a-social-icon"
																aria-label="">
				<figure class="a-social-icon__figure">
					<svg role="img" class="a-social-icon__svg">
						<title>instagram</title>
						<use xlink:href="#instagram"></use>
					</svg>
			
				</figure>
				</a>
		</div>
	</div>
</section>

