

<div class="m-front-article m-front-article--list m-front-article--no-image">
	<h3 class="m-front-article__title">
		<a href="#" class="m-front-article__title-link" tabindex="-1">Gesundes Klima und eine intakte Umwelt</a>
	</h3>
		<ul class="m-front-article__list">
				<li class="m-front-article__list-item">Klimakatastrophe abwenden - Erneuerbare fördern</li>
				<li class="m-front-article__list-item">Bahn, Bus und Velo statt Stau und Gestank</li>
				<li class="m-front-article__list-item">Raumplanung statt Siedlungsbrei</li>
		</ul>
	<div class="m-front-article__link-button">
		<a href="#" class="a-link-button ">
	Weiterlesen
</a>

	</div>
</div>

