

<div class="m-front-article m-front-article--image-second">
	<h3 class="m-front-article__title">
		<a href="#" class="m-front-article__title-link" tabindex="-1">Gleichstellung: Ein Schwerpunkt der Grünen - seit ihrer Gründung</a>
	</h3>
		<div class="m-front-article__image">
			<figure class="a-image a-image--cover">
				<a class="a-image__link" href="#" tabindex="-1">
				<img src="/img/wheat.jpg" alt="Symbolbild Fair-Food" title="Fair schmeckt besser" class="a-image__image a-image__image--fp a-image__image--fp-">
				</a>
					<figcaption>
						
			
					</figcaption>
			</figure>
		</div>
		<p class="m-front-article__text">Die Gleichstellung von Mann und Frau ist seit 1981 in der Verfassung verankert und seit 1996 im Gleichstellungsgesetz festgeschrieben. In der Realität ist die Gleichstellung jedoch noch lange nicht erreicht. Frauen sind nach wie vor untervertreten in Kaderpositionen, verdienen deutlich weniger als Männer. Ebenso arbeiten fast alle Männer Vollzeit, aber nur jede zweite Frau.</p>
	<div class="m-front-article__link-button">
		<a href="#" class="a-link-button ">
	Weiterlesen
</a>

	</div>
</div>

