

<div class="m-in-short">
	<h2 class="m-in-short__title">In Kürze</h2>
		<ul class="m-in-short__list">
				<li class="m-in-short__item">Der Bund will die olympischen Spiele mit einer Steuermilliarde subventionieren.</li>
				<li class="m-in-short__item">Vergangene Olympiaden haben gezeigt: Meist kommt es viel teurer als geplant und das Gastland muss nachbezahlen.</li>
				<li class="m-in-short__item">Schon drei mal hat die schweizer Bevölkerung die olympischen Spiele abgelehnt. Nun will der Bundesrat nicht darüber abstimmen lassen.</li>
		</ul>
	<form class="m-in-short__grid">
		<div class="m-in-short__postal-code"><div class="a-input">
	<label for="plz" class="a-input__label a-input__label--required">
		PLZ
	</label>
		<input id="plz"
					 class="a-input__field a-input--invers is-required"
					 type="text"
					 pattern="(\w{0,3}(?&lt;&#x3D;\w)-)?\d{4,6}"
					 name="plz"
					 value=""
			required>
</div>
</div>
		<div class="m-in-short__email"><div class="a-input">
	<label for="email" class="a-input__label a-input__label--required">
		E-Mail
	</label>
		<input id="email"
					 class="a-input__field a-input--invers is-required"
					 type="email"
					 
					 name="email"
					 value=""
			required>
</div>
</div>
		<div class="m-in-short__consent"><div class="a-checkoption">
		<input type="hidden" name="datenschutz" value="0">
		<input id="datenschutz"
					 class="a-checkoption__field"
					 type="checkbox"
					 name="datenschutz"
					 required
			>
	<label for="datenschutz" class="a-checkoption__label a-checkoption--legal">
		Ich akzeptiere die Datenschutzbestimmungen.
	</label>
</div>
</div>
		<div class="m-in-short__button">	<button type="button"
					class="a-button a-button--secondary">Mitmachen</button>
</div>
	</form>
</div>

