

<div class="m-list-header">
	<h2 class="m-list-header__title-wrapper">
		<span class="m-list-header__counter">82</span>
		<span class="m-list-header__title">Suchresultate zu <span class="m-list-header__term">Atomie</span> in der Kategorie <span class="m-list-header__term">Klima und Energie</span></span>
	</h2>
	<div class="m-list-header__criteria">
		<span class="m-list-header__criteria-desc">Nach Kategorie filtern:</span>
		<ul class="m-list-header__criteria-list">
			<li class="m-list-header__criteria-item">
				<a href="#asdf" class="m-list-header__criteria-link m-list-header__criteria-link--active">Klima und Energie</a>
			</li>
			<li class="m-list-header__criteria-item">
				<a href="#asdf" class="m-list-header__criteria-link">Atom</a>
			</li>
			<li class="m-list-header__criteria-item">
				<a href="#lkjh" class="m-list-header__criteria-link">Energiewende</a>
			</li>
		</ul>
		<div class="m-list-header__reset-filter">
				<button type="button"
								class="a-button a-button--outline">Alle Resultate Anzeigen</button>
		</div>
	</div>
</div>

