

<article class="m-person m-person--expandable">
	<div class="m-person__main">
		<div class="m-person__image">
			<div class="m-person__image-aspect-ratio-box">
				<figure class="a-image a-image--cover">
					
					<img src="/img/wheat.jpg" alt="Balthasar Glättli" title="Balthasar Glättli" class="a-image__image a-image__image--fp a-image__image--fp-">
					
				</figure>
			</div>
		</div>
		<div class="m-person__basic-info">
			<header><h3 id="m-person__full-name--" class="m-person__full-name">Balthasar Glättli</h3><span class="m-person__supplementary">Zürich</span></header>
			<p class="m-person__role">Nationalrat, Sicherheitskommission, Fraktionspräsident, Präsident Mieterverband Deutschschweiz</p>
		</div>
		<button class="m-person__toggle is-collapsed" aria-controls="m-person__expandable-" data-expand="Mehr Infos" data-collaps="Weniger Infos">Mehr Infos</button>
	</div>
		<div id="m-person__expandable-" class="m-person__expandable is-collapsed" aria-hidden="true" aria-labelledby="m-person__full-name--">
			<div class="m-person__wysiwyg">
				<strong>some</strong> html output
			</div>
			<!-- Add an if contact here in twig -->
			<h4 class="m-person__contact-title">Kontakt</h4>
			<address class="m-person__address">
				<a href="mailto:balthasar.glaettli@gruene.ch" class="m-person__contact m-person__contact--email">balthasar.glaettli@gruene.ch</a>
				<a href="tel:+41079 123 45 67" class="m-person__contact m-person__contact--phone">079 123 45 67</a>
				<a href="http://www.balthasar-glaettli.ch" class="m-person__contact m-person__contact--website">www.balthasar-glaettli.ch</a>
			</address>
			<div class="m-person__social-media">
				<div class="m-person__social-icon"><a href="https://google.com" class="a-social-icon"
													aria-label="">
	<figure class="a-social-icon__figure">
		<svg role="img" class="a-social-icon__svg">
			<title>facebook</title>
			<use xlink:href="#facebook"></use>
		</svg>

	</figure>
	</a>
</div>
				<div class="m-person__social-icon"><a href="https://google.com" class="a-social-icon"
													aria-label="">
	<figure class="a-social-icon__figure">
		<svg role="img" class="a-social-icon__svg">
			<title>twitter</title>
			<use xlink:href="#twitter"></use>
		</svg>

	</figure>
	</a>
</div>
				<div class="m-person__social-icon"><a href="https://google.com" class="a-social-icon"
													aria-label="">
	<figure class="a-social-icon__figure">
		<svg role="img" class="a-social-icon__svg">
			<title>instagram</title>
			<use xlink:href="#instagram"></use>
		</svg>

	</figure>
	</a>
</div>
			</div>
		</div>
</article>

