

<div class="m-quote">
	<div class="m-quote__image-outer">
		<div class="m-quote__image-inner">
			<figure class="a-image a-image--cover">
				
				<img src="/img/glaettli.jpg" alt="Balthasar Glättli" title="Balthasar Glättli" class="a-image__image a-image__image--fp a-image__image--fp-">
				
			</figure>
		</div>
	</div>
	<div class="m-quote__caption">
		<div class="m-quote__quote">Schafft es Aussenminister Cassis, in einer Woche nicht nur die Akzeptanz der Bilateralen zu gefährden, sondern auch mit Waffenexporten in Bürgerkriegsländer die guten Dienste der neutralen Schweiz zu torpedieren? Das darf der Gesamtbundesrat nicht zulassen.</div>
		<div class="m-quote__author">Balthasar Glättli, Nationalrat</div>
	</div>
</div>

