

<div class="m-share">
	<button class="m-share__mobile" aria-label="">
		<svg role="img">
			<title>partager</title>
			<use xlink:href="#mobile"></use>
		</svg>
	</button>
	<button class="m-share__close" aria-label="">
		<svg role="img">
			<title>partager</title>
			<use xlink:href="#close"></use>
		</svg>
	</button>
	<div class="m-share__buttons">
			<div class="m-share__icon">
				<button data-link="https://example.com" class="a-social-icon"
																	aria-label="">
					<figure class="a-social-icon__figure">
						<svg role="img" class="a-social-icon__svg">
							<title>link</title>
							<use xlink:href="#link"></use>
						</svg>
				
					</figure>
						<div class="a-social-icon__copied">Copied!</div>
					</button>
			</div>
			<div class="m-share__icon">
				<a href="https://www.facebook.com/sharer.php?u&#x3D;https%3A%2F%2Fcss-tricks.com%2F" class="a-social-icon"
																	aria-label="">
					<figure class="a-social-icon__figure">
						<svg role="img" class="a-social-icon__svg">
							<title>facebook--no-outline</title>
							<use xlink:href="#facebook--no-outline"></use>
						</svg>
				
					</figure>
					</a>
			</div>
			<div class="m-share__icon">
				<a href="https://twitter.com/intent/tweet?url&#x3D;https%3A%2F%2Fcss-tricks.com%2F&amp;text&#x3D;Tips%2C+Tricks%2C+and+Techniques+on+using+Cascading+Style+Sheets.&amp;hashtags&#x3D;css,html" class="a-social-icon"
																	aria-label="">
					<figure class="a-social-icon__figure">
						<svg role="img" class="a-social-icon__svg">
							<title>twitter--no-outline</title>
							<use xlink:href="#twitter--no-outline"></use>
						</svg>
				
					</figure>
					</a>
			</div>
			<div class="m-share__icon">
				<a href="mailto:?subject&#x3D;Sitetitle&amp;body&#x3D;Some%20content" class="a-social-icon"
																	aria-label="">
					<figure class="a-social-icon__figure">
						<svg role="img" class="a-social-icon__svg">
							<title>mail--no-outline</title>
							<use xlink:href="#mail--no-outline"></use>
						</svg>
				
					</figure>
					</a>
			</div>
			<div class="m-share__icon">
				<a href="whatsapp://send?abid&#x3D;BROADCAST_ID&amp;text&#x3D;" class="a-social-icon"
																	aria-label="">
					<figure class="a-social-icon__figure">
						<svg role="img" class="a-social-icon__svg">
							<title>whatsapp--no-outline</title>
							<use xlink:href="#whatsapp--no-outline"></use>
						</svg>
				
					</figure>
					</a>
			</div>
	</div>
	<div class="m-share__desc">partager</div>
</div>

