

<div class="m-share">
	<button class="m-share__mobile" aria-label="">
		<svg role="img">
			<title>partager</title>
			<use xlink:href="#mobile"></use>
		</svg>
	</button>
	<button class="m-share__close" aria-label="">
		<svg role="img">
			<title>partager</title>
			<use xlink:href="#close"></use>
		</svg>
	</button>
	<div class="m-share__buttons">
			<div class="m-share__icon">
				<a href="https://www.facebook.com/sharer.php?u&#x3D;https%3A%2F%2Fcss-tricks.com%2F" class="a-social-icon" aria-label="facebook--no-outline">
					<svg role="img">
						<title>facebook--no-outline</title>
						<use xlink:href="#facebook--no-outline"></use>
					</svg>
				</a>
			</div>
			<div class="m-share__icon">
				<a href="https://twitter.com/intent/tweet?url&#x3D;https%3A%2F%2Fcss-tricks.com%2F&amp;text&#x3D;Tips%2C+Tricks%2C+and+Techniques+on+using+Cascading+Style+Sheets.&amp;hashtags&#x3D;css,html" class="a-social-icon" aria-label="twitter--no-outline">
					<svg role="img">
						<title>twitter--no-outline</title>
						<use xlink:href="#twitter--no-outline"></use>
					</svg>
				</a>
			</div>
			<div class="m-share__icon">
				<a href="mailto:?subject&#x3D;Sitetitle&amp;body&#x3D;Some%20content" class="a-social-icon" aria-label="mail--no-outline">
					<svg role="img">
						<title>mail--no-outline</title>
						<use xlink:href="#mail--no-outline"></use>
					</svg>
				</a>
			</div>
			<div class="m-share__icon">
				<a href="whatsapp://send?abid&#x3D;BROADCAST_ID&amp;text&#x3D;" class="a-social-icon" aria-label="whatsapp--no-outline">
					<svg role="img">
						<title>whatsapp--no-outline</title>
						<use xlink:href="#whatsapp--no-outline"></use>
					</svg>
				</a>
			</div>
	</div>
	<div class="m-share__desc">partager</div>
</div>

