

<article class="o-campaign">
	<div class="o-campaign__image-wrapper">
		<div class="o-campaign__image">
			<figure class="a-image a-image--cover">
				
				<img src="/img/wheat_ratio.jpg" alt="Some many things on this image" title="This is a linked image" class="a-image__image a-image__image--fp a-image__image--fp-">
				
					<figcaption>
						
							<small class="a-image__copy">&copy; Photographer xy</small>
					</figcaption>
			</figure>
		</div>
		<div class="o-campaign__bars">
			<div class="m-bars m-bars--right">
	<div class="m-bars__rotator">
		<div class="m-bars__positioner">
				<div class="m-bars__bar">
					<div class="a-bar a-bar--green a-bar--right a-bar--no-sanuk">Engagiere dich</div>
				</div>
				<div class="m-bars__bar">
					<div class="a-bar a-bar--magenta a-bar--right a-bar--no-sanuk">für Fair-Food</div>
				</div>
				<div class="m-bars__bar">
					<div class="a-bar a-bar--white a-bar--right a-bar--subline a-bar--no-sanuk">zusammen die Welt verändern</div>
				</div>
		</div>
	</div>
</div>

		</div>
	</div>
	<div class="o-campaign__spacer" aria-hidden="true">
		<div class="o-campaign__image">
		</div>
	</div>
	<div class="o-campaign__cta-wrapper">
		<div class="o-campaign__desc">
			<div class="m-campaign-desc">
	<h2 class="m-campaign-desc__title">
		<a href="" class="m-campaign-desc__link">Fair schmeckt besser!</a>
	</h2>
	<p class="m-campaign-desc__desc">Die Fair-Food Initiative verlangt, was für alle selbstverständlich ist: Lebensmittel aus einer naturnahen, umwelt- und tierfreundlichen Landwirtschaft mit fairen Arbeitsbedingungen fördern. Dabei soll es keine Rolle spielen, ob die Lebensmittel aus der Schweiz stammen oder importiert sind.</p>
	<div class="m-campaign-desc__more">
		<a href="#" class="a-link-button ">
			Mehr über die Fair-Food Initiative
		</a>
	</div>
</div>

		</div>
		<div class="o-campaign__cta">
			<div class="m-campaign-cta">
	<h3 class="m-campaign-cta__title">Ich will zum Erfolg beitragen!</h3>
	<p class="m-campaign-cta__text">Hiermit abonniere ich den Newsletter, der mich laufend über alle Aktivitäten und Mitmachmöglichkeiten informiert.</p>
	<form class="m-campaign-cta__grid">
		<div class="m-campaign-cta__postal-code"><div class="a-input">
	<label for="plz" class="a-input__label a-input__label--required">
		PLZ
	</label>
		<input id="plz"
					 class="a-input__field  is-required"
					 type="text"
					 pattern="(\w{0,3}(?&lt;&#x3D;\w)-)?\d{4,6}"
					 name="plz"
					 value=""
			required>
</div>
</div>
		<div class="m-campaign-cta__email"><div class="a-input">
	<label for="email" class="a-input__label a-input__label--required">
		E-Mail
	</label>
		<input id="email"
					 class="a-input__field  is-required"
					 type="email"
					 
					 name="email"
					 value=""
			required>
</div>
</div>
		<div class="m-campaign-cta__consent"><div class="a-checkoption">
		<input type="hidden" name="datenschutz" value="0">
		<input id="datenschutz"
					 class="a-checkoption__field"
					 type="checkbox"
					 name="datenschutz"
					 required
			>
	<label for="datenschutz" class="a-checkoption__label a-checkoption--legal">
		Ich akzeptiere die Datenschutzbestimmungen.
	</label>
</div>
</div>
		<div class="m-campaign-cta__button">	<button type="button"
					class="a-button a-button--secondary">Mitmachen</button>
</div>
	</form>
</div>

		</div>
	</div>
</article>

