

<article class="o-front-article o-front-article--oton o-front-article--mm">
	<div class="o-front-article__cat-title">
		<h2 class="a-cat-title">
				<a class="a-cat-title__link" href="#">Medienmitteilungen</a>
		</h2>
	</div>
		<div class="o-front-article__quote">
			<svg role="img">
				<title></title>
				<use xlink:href="#quote"></use>
			</svg>
		</div>
	<div class="o-front-article__articles">
			<div class="o-front-article__article">
				<div class="m-front-article m-front-article--no-image">
					<h3 class="m-front-article__title">
						<a href="#" class="m-front-article__title-link" tabindex="-1">Fall &quot;Daniel Moser&quot;: Wo bleiben die Konsequenzen?</a>
					</h3>
						<p class="m-front-article__text">« Der Schweizerische Nachrichtendienst hat das Gesetz gebrochen. Und er ist dilettantisch und unprofessionell vorgegangen. Das stellt die GPDel klar fest. Wo bleiben die Konsequenzen für die Verantwortlichen, den ehemaligen Geheimdienstchef Markus Seiler und den zuständigen Bundesrat? »</p>
					<div class="m-front-article__link-button">
						<a href="#" class="a-link-button ">
	Weiterlesen
</a>

					</div>
				</div>
			</div>
	</div>
		<footer class="o-front-article__mm">
			<div class="o-front-article__meta">
				<time class="o-front-article__date" datetime="2018-26-04 13:34">26. März 2018</time>
				<a href="#" class="o-front-article__author">Balthasar Glättli</a>
			</div>
				<div class="o-front-article__author-image">
					<figure class="a-image a-image--cover">
						<a class="a-image__link" href="#" tabindex="-1">
						<img src="/img/glaettli.jpg" alt="Balthasar Glättli" title="Balthasar Glättli zum Fall &quot;Daniel Moser&quot;" class="a-image__image a-image__image--fp a-image__image--fp-">
						</a>
							<figcaption>
								
					
							</figcaption>
					</figure>
				</div>
		</footer>
</article>

