

<div class="o-front-initiatives ">
	<div class="o-front-initiatives__cat-title">
		<h2 class="a-cat-title">
				<span class="a-cat-title__link a-cat-title__link--no-link">Initiatives</span>
		</h2>
	</div>
	<div class="o-front-initiatives__initiatives">
			<div class="o-front-initiatives__initiative">
				<div class="o-front-initiatives__inner">
					<a class="a-initiative-link" href="#">
						<div class="a-initiative-link__image">
							<figure class="a-image a-image--cover">
								
								<img src="/img/dv.jpg" alt="Klimaschutz jetzt" title="This is a linked image" class="a-image__image a-image__image--fp a-image__image--fp-">
								
									<figcaption>
										
							
									</figcaption>
							</figure>
						</div>
					</a>
				</div>
			</div>
			<div class="o-front-initiatives__initiative">
				<div class="o-front-initiatives__inner">
					<a class="a-initiative-link" href="#">
						<div class="a-initiative-link__image">
							<figure class="a-image a-image--cover">
								
								<img src="/img/dv.jpg" alt="Bezahlbares Wohnen" title="This is a linked image" class="a-image__image a-image__image--fp a-image__image--fp-">
								
									<figcaption>
										
							
									</figcaption>
							</figure>
						</div>
					</a>
				</div>
			</div>
			<div class="o-front-initiatives__initiative">
				<div class="o-front-initiatives__inner">
					<a class="a-initiative-link" href="#">
						<div class="a-initiative-link__image">
							<figure class="a-image a-image--cover">
								
								<img src="/img/dv.jpg" alt="Gleichstellung stärken" title="This is a linked image" class="a-image__image a-image__image--fp a-image__image--fp-">
								
									<figcaption>
										
							
									</figcaption>
							</figure>
						</div>
					</a>
				</div>
			</div>
			<div class="o-front-initiatives__initiative">
				<div class="o-front-initiatives__inner">
					<a class="a-initiative-link" href="#">
						<div class="a-initiative-link__image">
							<figure class="a-image a-image--cover">
								
								<img src="/img/dv.jpg" alt="Biodiversität schützen" title="This is a linked image" class="a-image__image a-image__image--fp a-image__image--fp-">
								
									<figcaption>
										
							
									</figcaption>
							</figure>
						</div>
					</a>
				</div>
			</div>
	</div>
		<div class="o-front-initiatives__more">
			<a href="#" class="a-link-button ">
				Alle Initiativen anzeigen
			</a>
		</div>
</div>

