

<article class="o-front-article o-front-article--mm">
	<div class="o-front-article__cat-title">
		<h2 class="a-cat-title">
				<a class="a-cat-title__link" href="#">Medienmitteilungen</a>
		</h2>
	</div>
		<div class="o-front-article__quote">
			<svg role="img">
				<title></title>
				<use xlink:href="#quote"></use>
			</svg>
		</div>
	<div class="o-front-article__articles">
			<div class="o-front-article__article">
				<div class="m-front-article m-front-article--no-image">
					<h3 class="m-front-article__title">
						<a href="#" class="m-front-article__title-link" tabindex="-1">«Fair Food»: Bundesrat anerkennt Handlungsbedarf, nun ist der Ball bei der Stimmbevölkerung</a>
					</h3>
						<p class="m-front-article__text">An seiner heutigen Medienkonferenz zur Fair-Food-Initiative hat der Bundesrat Verständnis für die Anliegen der Initiative gezeigt. Er anerkennt, dass Handlungsbedarf zur Förderung einer nachhaltigen Lebensmittelproduktion besteht. Die Grünen begrüssen dies, bedauern jedoch, dass den Worten keine Taten folgen. Ein Ja zur Fair-Food-Initiative am 23. September ist darum wichtiger denn je.</p>
					<div class="m-front-article__link-button">
						<a href="#" class="a-link-button ">
	Weiterlesen
</a>

					</div>
				</div>
			</div>
	</div>
		<footer class="o-front-article__mm">
			<div class="o-front-article__meta">
				<time class="o-front-article__date" datetime="2018-26-04 13:34">26. März 2018</time>
				
			</div>
		</footer>
</article>

