

<div class="o-front-events o-front-events--full-width">
	<div class="o-front-events__cat-title">
		<h2 class="a-cat-title">
				<span class="a-cat-title__link a-cat-title__link--no-link">Events</span>
		</h2>
	</div>
	<div class="o-front-events__events">
			<div class="o-front-events__event">
				<div class="o-front-events__inner">
					<a class="a-event-link" href="">
						<div class="a-event-link__image">
							<figure class="a-image a-image--cover">
								
								<img src="/img/dv.jpg" alt="Die Delegierten schreiten zur Abstimmung" title="This is a linked image" class="a-image__image a-image__image--fp a-image__image--fp-">
								
									<figcaption>
										
							
									</figcaption>
							</figure>
						</div>
						<h3 class="a-event-link__title">Öffentlichkeit und Demokratie im Zeitalter der Neuen Medien</h3>
						<div class="a-event-link__meta">
							<time class="a-event-link__datetime" datetime="2018-08-25 11:00">28. Oktober 2017 | 10:45 - 12:30</time>
							<div class="a-event-link__place">Hotel &amp; Restaurant Landgasthof, Baselstrasse 38, Riehen</div>
						</div>
					</a>
				</div>
			</div>
			<div class="o-front-events__event">
				<div class="o-front-events__inner">
					<a class="a-event-link" href="">
						<div class="a-event-link__image">
							<figure class="a-image a-image--cover">
								
								<img src="/img/dv.jpg" alt="Die Delegierten schreiten zur Abstimmung" title="This is a linked image" class="a-image__image a-image__image--fp a-image__image--fp-">
								
									<figcaption>
										
							
									</figcaption>
							</figure>
						</div>
						<h3 class="a-event-link__title">Delegiertenversammlung mit Stargast mit sehr langem Namen</h3>
						<div class="a-event-link__meta">
							<time class="a-event-link__datetime" datetime="2018-08-25 11:00">25. August 2018 | 11:00</time>
							<div class="a-event-link__place">Säulenhalle Zug</div>
						</div>
					</a>
				</div>
			</div>
			<div class="o-front-events__event">
				<div class="o-front-events__inner">
					<a class="a-event-link" href="">
						<div class="a-event-link__image">
							<figure class="a-image a-image--cover">
								
								<img src="/img/dv.jpg" alt="Die Delegierten schreiten zur Abstimmung" title="This is a linked image" class="a-image__image a-image__image--fp a-image__image--fp-">
								
									<figcaption>
										
							
									</figcaption>
							</figure>
						</div>
						<h3 class="a-event-link__title">Netzwerktreffen Grüne Städte – voneinander lernen</h3>
						<div class="a-event-link__meta">
							<time class="a-event-link__datetime" datetime="2018-08-25 11:00">10. Juni 2017 | 10:15 - 16:45</time>
							<div class="a-event-link__place">aki, Alpeneggstrasse 5, Bern</div>
						</div>
					</a>
				</div>
			</div>
			<div class="o-front-events__event">
				<div class="o-front-events__inner">
					<a class="a-event-link" href="">
						<div class="a-event-link__image">
							<figure class="a-image a-image--cover">
								
								<img src="/img/dv.jpg" alt="Die Delegierten schreiten zur Abstimmung" title="This is a linked image" class="a-image__image a-image__image--fp a-image__image--fp-">
								
									<figcaption>
										
							
									</figcaption>
							</figure>
						</div>
						<h3 class="a-event-link__title">Delegiertenversammlung</h3>
						<div class="a-event-link__meta">
							<time class="a-event-link__datetime" datetime="2018-08-25 11:00">25. August 2018 – 11:00</time>
							<div class="a-event-link__place">Säulenhalle Zug</div>
						</div>
					</a>
				</div>
			</div>
	</div>
	<div class="o-front-events__more">
		<div class="a-link-button ">
			Alle Events anzeigen
		</div>
	</div>
</div>

