

<div class="o-linked-content">
	<h2 class="o-linked-content__title">Das könnte dich auch noch interessieren</h2>
	<div class="o-linked-content__wrapper">
		<div class="o-linked-content__block">
			<div class="m-link-list ">
	<div class="m-link-list__cat-title">
		<h2 class="a-cat-title">
				<span class="a-cat-title__link a-cat-title__link--no-link">Weitere Ressourcen</span>
		</h2>
	</div>
	<ul class="m-link-list__list">
			<li class="m-link-list__item">
				<div class="m-link-list__inner">
						<a class="a-post-link a-post-link--link" href="#">
					
						<h3 class="a-post-link__title">Für nachhaltige Sportveranstaltungen und ein Graubünden ohne Olympische Spiele</h3>
					
								<footer class="a-post-link__meta a-post-link__meta--footer">
										<time class="a-post-link__meta-item" datetime="17. Januar 2016">17. Januar 2016</time>
										<div class="a-post-link__meta-item">Resolutionen,Sport</div>
								</footer>
						</a>
					
				</div>
			</li>
			<li class="m-link-list__item">
				<div class="m-link-list__inner">
						<a class="a-post-link a-post-link--link" href="#">
					
						<h3 class="a-post-link__title">Für nachhaltige Sportveranstaltungen und ein Graubünden ohne Olympische Spiele</h3>
					
								<footer class="a-post-link__meta a-post-link__meta--footer">
								</footer>
						</a>
					
				</div>
			</li>
			<li class="m-link-list__item">
				<div class="m-link-list__inner">
						<a class="a-post-link a-post-link--link" href="#">
					
						<h3 class="a-post-link__title">Für nachhaltige Sportveranstaltungen und ein Graubünden ohne Olympische Spiele</h3>
					
								<footer class="a-post-link__meta a-post-link__meta--footer">
										<div class="a-post-link__meta-item">Resolutionen,Sport</div>
								</footer>
						</a>
					
				</div>
			</li>
			<li class="m-link-list__item">
				<div class="m-link-list__inner">
						<a class="a-post-link a-post-link--link" href="#" target="_blank">
					
						<h3 class="a-post-link__title">Für nachhaltige Sportveranstaltungen und ein Graubünden ohne Olympische Spiele</h3>
					
						</a>
					
				</div>
			</li>
	</ul>
</div>

		</div>
			<div class="o-linked-content__block">
				<div class="m-link-list ">
	<div class="m-link-list__cat-title">
		<h2 class="a-cat-title">
				<span class="a-cat-title__link a-cat-title__link--no-link">Weitere Ressourcen</span>
		</h2>
	</div>
	<ul class="m-link-list__list">
			<li class="m-link-list__item">
				<div class="m-link-list__inner">
						<a class="a-post-link a-post-link--link" href="#">
					
						<h3 class="a-post-link__title">Für nachhaltige Sportveranstaltungen und ein Graubünden ohne Olympische Spiele</h3>
					
								<footer class="a-post-link__meta a-post-link__meta--footer">
										<time class="a-post-link__meta-item" datetime="17. Januar 2016">17. Januar 2016</time>
										<div class="a-post-link__meta-item">Resolutionen,Sport</div>
								</footer>
						</a>
					
				</div>
			</li>
			<li class="m-link-list__item">
				<div class="m-link-list__inner">
						<a class="a-post-link a-post-link--link" href="#">
					
						<h3 class="a-post-link__title">Für nachhaltige Sportveranstaltungen und ein Graubünden ohne Olympische Spiele</h3>
					
								<footer class="a-post-link__meta a-post-link__meta--footer">
								</footer>
						</a>
					
				</div>
			</li>
			<li class="m-link-list__item">
				<div class="m-link-list__inner">
						<a class="a-post-link a-post-link--link" href="#">
					
						<h3 class="a-post-link__title">Für nachhaltige Sportveranstaltungen und ein Graubünden ohne Olympische Spiele</h3>
					
								<footer class="a-post-link__meta a-post-link__meta--footer">
										<div class="a-post-link__meta-item">Resolutionen,Sport</div>
								</footer>
						</a>
					
				</div>
			</li>
			<li class="m-link-list__item">
				<div class="m-link-list__inner">
						<a class="a-post-link a-post-link--link" href="#" target="_blank">
					
						<h3 class="a-post-link__title">Für nachhaltige Sportveranstaltungen und ein Graubünden ohne Olympische Spiele</h3>
					
						</a>
					
				</div>
			</li>
	</ul>
</div>

			</div>
			<div class="o-linked-content__block o-linked-content__block--full-width">
				<div class="m-link-list m-link-list--full-width">
	<div class="m-link-list__cat-title">
		<h2 class="a-cat-title">
				<span class="a-cat-title__link a-cat-title__link--no-link">Weitere Ressourcen</span>
		</h2>
	</div>
	<ul class="m-link-list__list">
			<li class="m-link-list__item">
				<div class="m-link-list__inner">
						<article class="a-post-link">
							<header class="a-post-link__meta a-post-link__meta--header">
									<time class="a-post-link__meta-item" datetime="17. Januar 2016">17. Januar 2016</time>
							</header>
					<a href="#" class="a-post-link__title-link">
						<h3 class="a-post-link__title">Für nachhaltige Sportveranstaltungen und ein Graubünden ohne Olympische Spiele</h3>
					</a>
							<p class="a-post-link__excerpt">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum</p>
						<a href="#" class="a-link-button a-link-button--post a-link-button--excerpt">
							Weiterlesen
						</a>
						</article>
					
				</div>
			</li>
			<li class="m-link-list__item">
				<div class="m-link-list__inner">
						<article class="a-post-link">
							<header class="a-post-link__meta a-post-link__meta--header">
									<time class="a-post-link__meta-item" datetime="17. Januar 2016">17. Januar 2016</time>
							</header>
					<a href="#" class="a-post-link__title-link">
						<h3 class="a-post-link__title">Für nachhaltige Sportveranstaltungen und ein Graubünden ohne Olympische Spiele</h3>
					</a>
							<p class="a-post-link__excerpt">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum</p>
						<a href="#" class="a-link-button a-link-button--post a-link-button--excerpt">
							Weiterlesen
						</a>
						</article>
					
				</div>
			</li>
			<li class="m-link-list__item">
				<div class="m-link-list__inner">
						<article class="a-post-link">
							<header class="a-post-link__meta a-post-link__meta--header">
									<time class="a-post-link__meta-item" datetime="17. Januar 2016">17. Januar 2016</time>
							</header>
					<a href="#" class="a-post-link__title-link">
						<h3 class="a-post-link__title">Für nachhaltige Sportveranstaltungen und ein Graubünden ohne Olympische Spiele</h3>
					</a>
							<p class="a-post-link__excerpt">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum</p>
						<a href="#" class="a-link-button a-link-button--post a-link-button--excerpt">
							Weiterlesen
						</a>
						</article>
					
				</div>
			</li>
			<li class="m-link-list__item">
				<div class="m-link-list__inner">
						<article class="a-post-link">
							<header class="a-post-link__meta a-post-link__meta--header">
									<time class="a-post-link__meta-item" datetime="17. Januar 2016">17. Januar 2016</time>
							</header>
					<a href="#" class="a-post-link__title-link">
						<h3 class="a-post-link__title">Für nachhaltige Sportveranstaltungen und ein Graubünden ohne Olympische Spiele</h3>
					</a>
							<p class="a-post-link__excerpt">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum</p>
						<a href="#" class="a-link-button a-link-button--post a-link-button--excerpt">
							Weiterlesen
						</a>
						</article>
					
				</div>
			</li>
	</ul>
		<div class="m-link-list__more">
			<a href="#" class="a-link-button ">
				17 weitere Ressourcen
			</a>
		</div>
</div>

			</div>
	</div>
</div>

