

<div class="o-people-grid o-people-grid--vertical">
	<div class="o-people-grid__wrapper">
		<div class="o-people-grid__cat-title">
			<h2 class="a-cat-title">
					<span class="a-cat-title__link a-cat-title__link--no-link">Grüne Menschen</span>
			</h2>
		</div>
		<h3 class="o-people-grid__title">Wir engagieren uns als Grüne</h3>
		<div class="o-people-grid__library-container swiper-container">
			<div class="o-people-grid__slider swiper-wrapper">
					<div class="o-people-grid__slide swiper-slide">
						<article class="m-person-slide">
							<figure class="m-person-slide__figure">
								<div class="m-person-slide__image">
									<figure class="a-image a-image--cover">
										
										<img src="/img/adrian-345.jpg" alt="Adrian Aulbach" title="" class="a-image__image a-image__image--fp a-image__image--fp-">
										
									</figure>
								</div>
								<figcaption class="m-person-slide__caption">
									<p class="m-person-slide__quote">Grün – Aber sicher! Für eine sichere Energieversorgung, sicheren Verkehr und sichere Arbeitsplätze.</p>
									<p class="m-person-slide__meta">
										<span class="m-person-slide__author">Adrian Aulbach</span>,
										<span class="m-person-slide__job">Softwareentwickler, Student, Co-Präsident Grüne Interlaken-Oberhasli</span>
									</p>
								</figcaption>
							</figure>
						</article>
					</div>
					<div class="o-people-grid__slide swiper-slide">
						<article class="m-person-slide">
							<figure class="m-person-slide__figure">
								<div class="m-person-slide__image">
									<figure class="a-image a-image--cover">
										
										<img src="/img/anna_q-345.jpg" alt="Anna de Quervain" title="" class="a-image__image a-image__image--fp a-image__image--fp-">
										
									</figure>
								</div>
								<figcaption class="m-person-slide__caption">
									<p class="m-person-slide__quote">Investitionen in Bildung und Integration sind Investitionen in die Zukunft.</p>
									<p class="m-person-slide__meta">
										<span class="m-person-slide__author">Anna de Quervain</span>,
										<span class="m-person-slide__job">Stadträtin Burgdorf, Fraktionssprecherin, Vorstand Operation Libero Bern</span>
									</p>
								</figcaption>
							</figure>
						</article>
					</div>
					<div class="o-people-grid__slide swiper-slide">
						<article class="m-person-slide">
							<figure class="m-person-slide__figure">
								<div class="m-person-slide__image">
									<figure class="a-image a-image--cover">
										
										<img src="/img/anna_z-345.jpg" alt="Anna Zeilstra" title="" class="a-image__image a-image__image--fp a-image__image--fp-">
										
									</figure>
								</div>
								<figcaption class="m-person-slide__caption">
									<p class="m-person-slide__quote">Ich setze mich für Minderheiten und eine offene Gesellschaft ein.</p>
									<p class="m-person-slide__meta">
										<span class="m-person-slide__author">Anna Zeilstra</span>,
										<span class="m-person-slide__job">Sozialpädagogin HF, Präsidentin Grüne Spiez, Mitglied GGR Spiez, Mitglied Sozialkommission</span>
									</p>
								</figcaption>
							</figure>
						</article>
					</div>
					<div class="o-people-grid__slide swiper-slide">
						<article class="m-person-slide">
							<figure class="m-person-slide__figure">
								<div class="m-person-slide__image">
									<figure class="a-image a-image--cover">
										
										<img src="/img/carole-345.jpg" alt="Carole Klopfstein" title="" class="a-image__image a-image__image--fp a-image__image--fp-">
										
									</figure>
								</div>
								<figcaption class="m-person-slide__caption">
									<p class="m-person-slide__quote">Soziale Verantwortung, Solidarität und Nachhaltigkeit - Nicht alle Aspekte der Gesellschaft lassen sich durch die Wirtschaft lösen.</p>
									<p class="m-person-slide__meta">
										<span class="m-person-slide__author">Carole Klopfstein</span>,
										<span class="m-person-slide__job">Gemeinderätin GGR Muri-Gümligen, Projektleiterin</span>
									</p>
								</figcaption>
							</figure>
						</article>
					</div>
					<div class="o-people-grid__slide swiper-slide">
						<article class="m-person-slide">
							<figure class="m-person-slide__figure">
								<div class="m-person-slide__image">
									<figure class="a-image a-image--cover">
										
										<img src="/img/cyril-345.jpg" alt="Cyril Bucher" title="" class="a-image__image a-image__image--fp a-image__image--fp-">
										
									</figure>
								</div>
								<figcaption class="m-person-slide__caption">
									<p class="m-person-slide__quote">Investition in Bildung und Gesundheit. Förderung des Sportes. Nachhaltigkeit in der Wirtschaft.</p>
									<p class="m-person-slide__meta">
										<span class="m-person-slide__author">Cyril Bucher</span>,
										<span class="m-person-slide__job">Medizinstudent</span>
									</p>
								</figcaption>
							</figure>
						</article>
					</div>
					<div class="o-people-grid__slide swiper-slide">
						<article class="m-person-slide">
							<figure class="m-person-slide__figure">
								<div class="m-person-slide__image">
									<figure class="a-image a-image--cover">
										
										<img src="/img/adrian-345.jpg" alt="Adrian Aulbach" title="" class="a-image__image a-image__image--fp a-image__image--fp-">
										
									</figure>
								</div>
								<figcaption class="m-person-slide__caption">
									<p class="m-person-slide__quote">Grün – Aber sicher! Für eine sichere Energieversorgung, sicheren Verkehr und sichere Arbeitsplätze.</p>
									<p class="m-person-slide__meta">
										<span class="m-person-slide__author">Adrian Aulbach</span>,
										<span class="m-person-slide__job">Softwareentwickler, Student, Co-Präsident Grüne Interlaken-Oberhasli</span>
									</p>
								</figcaption>
							</figure>
						</article>
					</div>
					<div class="o-people-grid__slide swiper-slide">
						<article class="m-person-slide">
							<figure class="m-person-slide__figure">
								<div class="m-person-slide__image">
									<figure class="a-image a-image--cover">
										
										<img src="/img/anna_q-345.jpg" alt="Anna de Quervain" title="" class="a-image__image a-image__image--fp a-image__image--fp-">
										
									</figure>
								</div>
								<figcaption class="m-person-slide__caption">
									<p class="m-person-slide__quote">Investitionen in Bildung und Integration sind Investitionen in die Zukunft.</p>
									<p class="m-person-slide__meta">
										<span class="m-person-slide__author">Anna de Quervain</span>,
										<span class="m-person-slide__job">Stadträtin Burgdorf, Fraktionssprecherin, Vorstand Operation Libero Bern</span>
									</p>
								</figcaption>
							</figure>
						</article>
					</div>
					<div class="o-people-grid__slide swiper-slide">
						<article class="m-person-slide">
							<figure class="m-person-slide__figure">
								<div class="m-person-slide__image">
									<figure class="a-image a-image--cover">
										
										<img src="/img/anna_z-345.jpg" alt="Anna Zeilstra" title="" class="a-image__image a-image__image--fp a-image__image--fp-">
										
									</figure>
								</div>
								<figcaption class="m-person-slide__caption">
									<p class="m-person-slide__quote">Ich setze mich für Minderheiten und eine offene Gesellschaft ein.</p>
									<p class="m-person-slide__meta">
										<span class="m-person-slide__author">Anna Zeilstra</span>,
										<span class="m-person-slide__job">Sozialpädagogin HF, Präsidentin Grüne Spiez, Mitglied GGR Spiez, Mitglied Sozialkommission</span>
									</p>
								</figcaption>
							</figure>
						</article>
					</div>
					<div class="o-people-grid__slide swiper-slide">
						<article class="m-person-slide">
							<figure class="m-person-slide__figure">
								<div class="m-person-slide__image">
									<figure class="a-image a-image--cover">
										
										<img src="/img/carole-345.jpg" alt="Carole Klopfstein" title="" class="a-image__image a-image__image--fp a-image__image--fp-">
										
									</figure>
								</div>
								<figcaption class="m-person-slide__caption">
									<p class="m-person-slide__quote">Soziale Verantwortung, Solidarität und Nachhaltigkeit - Nicht alle Aspekte der Gesellschaft lassen sich durch die Wirtschaft lösen.</p>
									<p class="m-person-slide__meta">
										<span class="m-person-slide__author">Carole Klopfstein</span>,
										<span class="m-person-slide__job">Gemeinderätin GGR Muri-Gümligen, Projektleiterin</span>
									</p>
								</figcaption>
							</figure>
						</article>
					</div>
					<div class="o-people-grid__slide swiper-slide">
						<article class="m-person-slide">
							<figure class="m-person-slide__figure">
								<div class="m-person-slide__image">
									<figure class="a-image a-image--cover">
										
										<img src="/img/cyril-345.jpg" alt="Cyril Bucher" title="" class="a-image__image a-image__image--fp a-image__image--fp-">
										
									</figure>
								</div>
								<figcaption class="m-person-slide__caption">
									<p class="m-person-slide__quote">Investition in Bildung und Gesundheit. Förderung des Sportes. Nachhaltigkeit in der Wirtschaft.</p>
									<p class="m-person-slide__meta">
										<span class="m-person-slide__author">Cyril Bucher</span>,
										<span class="m-person-slide__job">Medizinstudent</span>
									</p>
								</figcaption>
							</figure>
						</article>
					</div>
			</div>
		</div>
	</div>
</div>

