

<article class="o-positions">
	<div class="o-positions__cat-title">
		<h2 class="a-cat-title">
				<span class="a-cat-title__link a-cat-title__link--no-link">Standpunkte</span>
		</h2>
	</div>
	<div class="o-positions__articles">
			<div class="o-positions__article">
				<div class="m-front-article m-front-article--list m-front-article--no-image">
					<h3 class="m-front-article__title">
						<a href="" class="m-front-article__title-link" tabindex="-1">Gesundes Klima und intakte Umwelt</a>
					</h3>
						<ul class="m-front-article__list">
								<li class="m-front-article__list-item">Klimakatastrophe abwenden - Erneuerbare fördern</li>
								<li class="m-front-article__list-item">Bahn, Bus und Velo statt Stau und Gestank</li>
								<li class="m-front-article__list-item">Raumplanung statt Siedlungsbrei</li>
						</ul>
					<div class="m-front-article__link-button">
						<a href="#" class="a-link-button ">
	Weiterlesen
</a>

					</div>
				</div>
			</div>
			<div class="o-positions__article">
				<div class="m-front-article m-front-article--list m-front-article--no-image">
					<h3 class="m-front-article__title">
						<a href="" class="m-front-article__title-link" tabindex="-1">Solidarität, Gleichstellung, Chancengleichheit</a>
					</h3>
						<ul class="m-front-article__list">
								<li class="m-front-article__list-item">Klimakatastrophe abwenden - Erneuerbare fördern</li>
								<li class="m-front-article__list-item">Bahn, Bus und Velo statt Stau und Gestank</li>
								<li class="m-front-article__list-item">Raumplanung statt Siedlungsbrei</li>
						</ul>
					<div class="m-front-article__link-button">
						<a href="#" class="a-link-button ">
	Weiterlesen
</a>

					</div>
				</div>
			</div>
			<div class="o-positions__article">
				<div class="m-front-article m-front-article--list m-front-article--no-image">
					<h3 class="m-front-article__title">
						<a href="" class="m-front-article__title-link" tabindex="-1">Nachhaltige und faire Wirtschaft</a>
					</h3>
						<ul class="m-front-article__list">
								<li class="m-front-article__list-item">Klimakatastrophe abwenden - Erneuerbare fördern</li>
								<li class="m-front-article__list-item">Bahn, Bus und Velo statt Stau und Gestank</li>
								<li class="m-front-article__list-item">Raumplanung statt Siedlungsbrei</li>
						</ul>
					<div class="m-front-article__link-button">
						<a href="#" class="a-link-button ">
	Weiterlesen
</a>

					</div>
				</div>
			</div>
			<div class="o-positions__article">
				<div class="m-front-article m-front-article--list m-front-article--no-image">
					<h3 class="m-front-article__title">
						<a href="" class="m-front-article__title-link" tabindex="-1">Frieden und globale Gerechtigkeit</a>
					</h3>
						<ul class="m-front-article__list">
								<li class="m-front-article__list-item">Klimakatastrophe abwenden - Erneuerbare fördern</li>
								<li class="m-front-article__list-item">Bahn, Bus und Velo statt Stau und Gestank</li>
								<li class="m-front-article__list-item">Raumplanung statt Siedlungsbrei</li>
						</ul>
					<div class="m-front-article__link-button">
						<a href="#" class="a-link-button ">
	Weiterlesen
</a>

					</div>
				</div>
			</div>
	</div>
</article>

