

<article class="o-vote ">
	<div class="o-vote__cat-title">
		<h2 class="a-cat-title">
				<span class="a-cat-title__link a-cat-title__link--no-link">Abstimmungsempfehlungen</span>
		</h2>
	</div>
	<div class="o-vote__proposals">
			<a href="#" class="o-vote__proposal">
				<div class="m-vote">
					<div class="m-vote__tag">
						<div aria-label="" class="a-vote-tag a-vote-tag--yes">ja</div>	</div>
					<h3 class="m-vote__title">Fair-Food JA: Gesund und umweltfreundlich</h3>
				</div>
			</a>
			<a href="#" class="o-vote__proposal">
				<div class="m-vote">
					<div class="m-vote__tag">
						<div aria-label="" class="a-vote-tag a-vote-tag--yes">ja</div>	</div>
					<h3 class="m-vote__title">Ernährungssouverenität, die Ergänzung zur Fair-Food-Initiative</h3>
				</div>
			</a>
			<a href="#" class="o-vote__proposal">
				<div class="m-vote">
					<div class="m-vote__tag">
						<div aria-label="" class="a-vote-tag a-vote-tag--yes">ja</div>	</div>
					<h3 class="m-vote__title">Ja zum Velo, zu den Fuss und Wanderwegen</h3>
				</div>
			</a>
	</div>
	<footer class="o-vote__more">
		<div class="o-vote__link-button">
			<div class="a-link-button ">
				Kantonale Abstimmungen
			</div>
		</div>
	</footer>
</article>

