@use "sass:math";
@use "../../../scss/variables" as v;
@use "../../../scss/mixins" as m;

.a-post-meta {
	font-size: 0.875rem;
	letter-spacing: 0.018em;
	hyphens: auto;
	line-height: 1.57em;
	@include m.fluid-props(padding-top padding-bottom, v.$fluid-min, v.$size-medium, 4px, 40px);

	@include m.media(v.$MOBILE) {
		padding: 6px 0 8px;
	}

	&__block {
		padding: 8px 0;
		display: block;
	}

	&__date {
		@extend .a-post-meta__block;
		color: v.$color-grey-3;
		font-weight: v.$font-weight-bold;

		@include m.high-contrast {
			color: v.$color-text;
		}
	}

	&__tags {
		@extend .a-post-meta__block;
	}

	&__date + &__author,
	&__date + &__tags,
	&__author + &__tags {
		padding-top: 0;

		&::before {
			content: ' ';
			height: 1px;
			width: 20px;
			background-color: v.$color-grey-2;
			display: block;
			margin-bottom: 8px;
		}
	}

	&__tag,
	&__category {
		@include m.clean-link;
		
		& {
			transition: color v.$transition-ease v.$transition-fast;
			display: inline-block; // only hyphenate if really necessary
		}

		&:hover {
			color: v.$color-primary;

			@include m.high-contrast {
				color: v.$color-primary-dark;
			}
		}

		&:not(:last-child)::after {
			content: ',';
		}
	}

	&__author {
		@include m.clean-link;
		@extend .a-post-meta__block;
		& {
			color: v.$color-primary;
			font-weight: v.$font-weight-bold;
		}

		@include m.high-contrast {
			color: v.$color-primary-dark;
		}
	}
}
