@use "sass:math";
@use "../../../scss/variables" as v;
@use "../../../scss/mixins" as m;

.o-header {
	&__display {
		position: fixed;
		width: 100%;
		z-index: v.$z-index-header;

		@media print {
			position: absolute;
		}
	}

	&__shadow {
		visibility: hidden;
	}
}
