<header class="o-header">
    <div class="o-header__branding">
        {{> @m-branding branding}}
    </div>
    <div class="o-header__menu">
        {{render '@m-menu'}}
    </div>
    <div class="o-header__spacer"></div>
</header>