.a-cat-title {
  font-size: 1rem;
  margin: 0;
  position: relative;

  &__link {
    @include clean-link;

    font-family: $font-primary;
    font-weight: $font-weight-semi;
    letter-spacing: 0.125em;
    line-height: 1.25em;
    color: $color-text;
    padding-bottom: 12px;
    display: inline-block;

    &:after {
      content: "";
      width: 23px;
      height: 2px;
      background-color: $color-text-light;
      position: absolute;
      bottom: 0;
      left: 0;
      transition: width $transition-fast $transition-ease;
    }

    @include hover {
      &:after{
        width: 69px;
        background-color: $color-primary;
      }
    }
  }
}