@use "sass:math";
@use "../../../scss/variables" as v;
@use "../../../scss/mixins" as m;

.a-cat-title {
	font-size: 1rem;
	line-height: 1.2em;
	margin: 0;

	&__link {
		@include m.clean-link;

		& {
			font-family: v.$font-primary;
			font-weight: v.$font-weight-semi;
			letter-spacing: 0.125em;
			line-height: 1.25em;
			color: v.$color-text;
			transition: color v.$transition-fast v.$transition-ease;
			display: inline-block;
		}

		&::after {
			content: ' ';
			width: 1.4em;
			height: 2px;
			background-color: v.$color-text-light;
			transition: all v.$transition-fast v.$transition-ease;
			display: block;
			margin-top: 0.7em;
		}

		&:not(&--no-link) {
			cursor: pointer;

			@include m.hover {
				color: v.$color-primary;

				@include m.high-contrast {
					color: v.$color-primary-dark;
				}

				&:after {
					width: 100%;
					background-color: v.$color-primary;

					@include m.high-contrast {
						background-color: v.$color-primary-dark;
					}
				}
			}
		}
	}
}
