<h2 class="a-cat-title">
	{{# if url }}
		<a class="a-cat-title__link" href="{{ url }}">{{ label }}</a>
	{{else}}
		<span class="a-cat-title__link a-cat-title__link--no-link">{{ label }}</span>
	{{/if}}
</h2>
