.m-campaign-desc {
	background: $color-grey-1;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	@include fluid-props(padding-left padding-right, $fluid-min, $fluid-max, 29px, 60px);
	@include media($size-large) {
		padding-left: 60px; // don't oversize it for 2k screens
		padding-right: 60px;
	}
	padding-top: 13px;
	padding-bottom: 40px;

	@include media($_DESKTOP) {
		padding-right: calc(75px + 39 * (100vw - 375px) / 1305);
	}

	&__title {
		@include fluid-props(font-size, $fluid-min, $fluid-max, 32px, 48px);
		@include media($size-large) {
			font-size: 48px; // don't go over 48 for 2k screens
		}
	}

	&__link {
		@include clean-link;
		color: $color-primary;
		transition: color $transition-fast $transition-ease;

		@include high-contrast {
			color: $color-primary-dark;
		}

		@include hover {
			color: $color-primary-dark;
		}
	}

	&__desc {
		margin: 0 0 0.75em;
		font-size: 1.25rem;
	}
}
