<div class="m-quote">
	<div class="m-quote__image-outer">
		<div class="m-quote__image-inner">
			{{> @a-image image}}
		</div>
	</div>
	<div class="m-quote__caption">
		<div class="m-quote__quote">{{quote}}</div>
		<div class="m-quote__author">{{name}}{{#if role}}, {{role}}{{/if}}</div>
	</div>
</div>
