<div class="m-campaign-cta">
    <h3 class="m-campaign-cta__title">{{title}}</h3>
    <p class="m-campaign-cta__text">{{text}}</p>
    <div class="m-campaign-cta__grid">
        <div class="m-campaign-cta__postal-code">{{> @a-input input-postal-code}}</div>
        <div class="m-campaign-cta__email">{{> @a-input input-email}}</div>
        <div class="m-campaign-cta__consent">{{> @a-checkoption checkbox}}</div>
        <div class="m-campaign-cta__button">{{> @a-button button}}</div>
    </div>
</div>