<div class="m-bars {{modifiers_classes}}">
	<div class="m-bars__rotator">
		<div class="m-bars__positioner">
			{{#each bars}}
				<div class="m-bars__bar">
					{{> @a-bar this}}
				</div>
			{{/each}}
		</div>
	</div>
</div>
