/**
 * General
 */
body {
  font-family: $font-primary;
  color: $color-text;
}

/**
 * Headings
 */

@mixin heading-font {
  font-family: $font-title;
  color: $color-primary;
  letter-spacing: 0.025em; // For Sanuk; 0.018125em for Arial Black
  line-height: 1.2727272727em;
  margin-top: 0.6086956522em;
  margin-bottom: 0.4057971015em;
  hyphens: auto;

  @include media($_DESKTOP) {
    hyphens: initial; // sorry IE users
  }
}

h1 {
  @include heading-font;
  font-size: 2rem; // 32/16

  @include media($_DESKTOP) {
    font-size: 2.875rem; // 46/16
  }
}

h2 {
  @include heading-font;
  font-size: 1.625rem; // 26/16

  @include media($_DESKTOP) {
    font-size: 1.9375rem; // 31/16
  }
}

h3 {
  @include heading-font;
  font-size: 1.25rem; // 20/16

  @include media($_DESKTOP) {
    font-size: 1.46875rem; // 23.5/16
  }
}

h4, h5 {
  @include heading-font;
  font-size: 1rem;
}

/**
 * Text
 */

p {
  letter-spacing: 0.015625em;
  line-height: 1.75em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  font-size: 1rem;
}

.u-t-excerpt {
  font-size: 1.25rem; // 20/16

  @include media($_DESKTOP) {
    font-size: 1.5rem; // 24/16
    hyphens: initial; // sorry IE users
  }
}

a {
  display: inline-block;
  position: relative;
  color: $color-text;
  outline: none;

  &:before {
    content: '';
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.25em;
    background-color: $color-primary-light;
    transition: height $transition-fast $transition-ease;
  }

  @include hover {
    &:before {
      height: 1.5em;
    }
  }
}

/**
 * Lists
 */

ul, ol {
  line-height: 1.75em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;

  li {
    &:before {
      display: inline-block;
      margin-right: 1em;
    }
  }
}

li > ol, li > ul {
  margin-left: 2em;
  margin-top: 0;
  margin-bottom: 0;
}

ol {
  counter-reset: item;

  li {
    counter-increment: item;

    &:before {
      content: counters(item, ".") ".";
    }
  }
}

ul li:before {
  content: "\25A0";
  color: $color-secondary;
  transform: rotate(-5deg);
}