.a-post-link {
	@include clean-link;

	display: block;
	border-bottom: 1px solid $color-grey-2;
	@include fluid-props(padding-top padding-bottom, $fluid-min, $fluid-max, 22px, 26px);

	&--link {
		transition: background-color $transition-fast $transition-ease;

		@include media($_MOBILE) {
			position: relative;
			padding-right: 2em;

			&:after {
				content: "";
				width: 0.6em;
				height: 0.6em;
				border-top: 0.1666666667em solid $color-primary; // 2/12
				border-right: 0.1666666667em solid $color-primary; // 2/12
				transform: translateX(-0.2em) translateY(-50%) rotate(45deg);
				position: absolute;
				right: 0;
				top: 50%;
			}
		}

		@include hover {
			background-color: $color-grey-1;
		}

		.a-post-link__title {
			@include hover() {
				color: $color-primary;
			}
		}
	}

	&__title {
		margin-top: 0;
		transition: color $transition-fast $transition-ease;

		@include hover{
			color: $color-primary-dark;
		}
	}

	&__title-link {
		@include clean-link;
	}

	&__meta--header {
		margin-bottom: 1em;
		color: $color-text-light;
	}

	&__meta--footer {
		margin-top: 1em;
	}

	&__meta-item {
		font-size: 0.875rem;
		display: inline-block;

		&:not(:first-child)::before {
			content: "\25A0";
			color: $color-secondary;
			transform: rotate(-5deg);
			margin-right: 0.85em;
			margin-left: 0.55em;
			display: inline-block;
		}
	}
}
