@use "sass:math";
@use "../../../scss/variables" as v;
@use "../../../scss/mixins" as m;

.m-link-list {
	&__cat-title {
		margin-bottom: 16px;
	}

	&__list {
		@include m.clean-ul;
	}

	&--full-width {
		.m-link-list__list {
			display: grid;
			grid-template-columns: 1fr;
			grid-column-gap: 50px;
			align-items: stretch;

			@include m.media(v.$size-small) {
				grid-template-columns: 1fr 1fr;
			}
		}
	}

	&__item {
		@include m.clean-li;
		transition: background-color v.$transition-fast v.$transition-ease;
		margin: 0 -12px;
		padding: 0 12px;

		@include m.hover {
			background-color: v.$color-grey-1;
		}
	}

	&--full-width {
		.m-link-list__item {
			@include m.hover {
				background-color: transparent;
			}
		}
	}

	&__inner {
		border-bottom: 1px solid v.$color-grey-2;
		height: 100%;
	}

	&__more {
		margin: 48px 0;
	}
}
