.a-submenu {
  max-width: 269px;
  min-width: 177px;
  width: 100%;

  &__title {
    font-family: $font-title;
    color: $color-primary;
    margin-bottom: 17px;
    display: block;
  }

  &__item {
    color: $color-text;
    position: relative;

    &:after {
      content: "";
      width: 36px;
      height: 1px;
      background-color: $color-grey-2;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }

  &__link {
    color: $color-text;
    line-height: 1.75em;
    padding: 7px 0;
    display: block;
  }

  &--featured__image {
    width: 100%;
    margin-top: 28px;
  }

  &--featured__title {
    font-size: 1.25rem;
    letter-spacing: 0.0125em;
    line-height: 1.4em;
    margin-top: 16px;
  }

  &--featured__text {
    margin-top: 12px;
    margin-bottom: 28px;
  }
}