.a-submenu {
  width: 100%;
  max-width: 269px;

  @include media($size-medium) {
    min-width: 177px;
  }

  &__title {
    @include clean-link;
    font-family: $font-title;
    display: block;
    line-height: 2em;
    color: $color-text;
    transition: color $transition-fast $transition-ease;

    @include hover {
      color: $color-secondary;
    }

    @include media($size-medium) {
      color: $color-primary;
      margin-bottom: 1px;
      padding-bottom: 16px;
      position: relative;
      line-height: 1.25em;

      &:after {
        content: "";
        width: 0;
        height: 0.25em;
        background-color: $color-primary-light;
        position: absolute;
        bottom: 0;
        left: 0;
        transition: width $transition-fast $transition-ease;
      }

      @include hover {
        color: $color-primary;

        &:after {
          width: 100%;
        }
      }
    }
  }

  &__list {
    @include clean-ul;
  }

  &__item {
    @include clean-li;
    color: $color-text;
    position: relative;
    margin: 1em 0 0 1.25em;

    @include media($size-medium) {
      margin: 0;

      &:after {
        content: "";
        width: 36px;
        height: 1px;
        background-color: $color-grey-2;
        position: absolute;
        bottom: 0;
        left: 0;
        transition: width $transition-fast $transition-ease;
      }

      @include hover {
        color: $color-text;

        &:after {
          width: 100%;
          background-color: $color-primary;
        }
      }
    }
  }

  &__link {
    @include clean-link;
    color: $color-text;
    line-height: 1.75em;
    padding: 7px 0;
    display: block;
    transition: color $transition-fast $transition-ease;

    @include hover {
      color: $color-secondary;
    }

    @include media($size-medium) {
      @include hover {
        color: $color-text;
      }
    }
  }

  &--featured {
    margin-top: 2em;

    @include media($size-medium) {
      margin-top: initial;
    }
  }

  &--featured__image {
    width: 100%;
    margin-top: 28px;
  }

  &--featured__title {
    font-size: 1.25rem;
    letter-spacing: 0.0125em;
    line-height: 1.4em;
    margin-top: 16px;
  }

  &--featured__text {
    margin-top: 12px;
    margin-bottom: 28px;
  }
}