.a-link-button {
  font-size: 0.75rem;
  display: inline-flex;
  align-items: center;
  line-height: 0.9em; // make sure the arrow wont be cut
  padding-left: 0;
  @include fluid-props(padding-top padding-bottom, $fluid-min, $fluid-max, 6px, 10px);

  color: $color-primary;
  font-family: $font-secondary;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
  transition: color $transition-fast $transition-ease;

  &__label {
    order: 0;
    padding-right: 1em; // 6/12
  }

  &::before {
    content: "";
    order: 1;
    width: 0;
    transition: all $transition-fast $transition-ease;
    height: 0.1666666667em;
    background-color: $color-primary;
  }

  &::after {
    content: "";
    order: 2;
    width: 0.6em;
    height: 0.6em;
    border-color: $color-primary;
    border-top: 0.1666666667em solid; // 2/12
    border-right: 0.1666666667em solid; // 2/12
    transform: translateX(-0.5em) translateY(0.1em) rotate(45deg);
  }

  @include hover {
    color: $color-primary-dark;

    &::before {
      width: 1.2em;
      background-color: $color-primary-dark;
    }
  }

  &--grey {
    color: $color-text-light;

    &::before {
      background-color: $color-text-light;
    }

    @include hover {
      color: $color-text-light;

      &::before {
        background-color: $color-text-light;
      }
    }
  }

  &--white {
    color: $color-white;

    &::before {
      background-color: $color-white;
    }

    @include hover {
      color: $color-white;

      &::before {
        background-color: $color-white;
      }
    }
  }
}