.a-link-button {
  font-size: 0.75rem;
  display: inline-block;
  line-height: 1.1666666667em; // 12/14
  padding-right: 0.5em; // 6/12
  @include fluid-props(padding-top padding-bottom, $fluid-min, $fluid-max, 6px, 10px);

  color: $color-primary;
  font-family: $font-secondary;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
  transition: color $transition-fast $transition-ease;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 100%;
    top: 50%;
    display: block;
    width: 0;
    transition: all $transition-fast $transition-ease;
    height: 0.1666666667em;
    background-color: $color-primary;
    transform: translateY(-50%);
  }

  &::after {
    content: "";
    position: absolute;
    left: 100%;
    top: 50%;
    display: block;
    width: 0.7071067812em; // 1/sqrt(2)
    height: 0.7071067812em; // 1/sqrt(2)
    border-color: $color-primary;
    border-top: 0.1666666667em solid; // 2/12
    border-right: 0.1666666667em solid; // 2/12
    transform: translate(-50%, -50%) rotate(45deg);
    transition: left $transition-fast $transition-ease;
  }

  @include hover {
    color: $color-primary-dark;

    &::before {
      width: 1.5em;
      background-color: $color-primary-dark;
    }
    &::after {
      left: calc(100% + 1.2em);
    }
  }

  &--grey {
    color: $color-text-light;

    &::before {
      background-color: $color-text-light;
    }

    @include hover {
      color: $color-text-light;

      &::before {
        background-color: $color-text-light;
      }
    }
  }

  &--white {
    color: $color-white;

    &::before {
      background-color: $color-white;
    }

    @include hover {
      color: $color-white;

      &::before {
        background-color: $color-white;
      }
    }
  }
}