<button class="a-link-button {{ modifiers_classes }}" >
    {{ label }}
    <div class="a-link-button__arrow">
        <div class="a-link-button__cell">
            <div class="a-link-button__bar"></div>
        </div>
        <div class="a-link-button__cell">
            <div class="a-link-button__chevron"></div>
        </div>
    </div>
</button>