// Import required modules with namespaces
@use 'sass:math';
@use '../../../scss/variables' as v;
@use '../../../scss/mixins' as m;

.m-menu {
	font-size: 0.9375rem; // 15/16
	border-bottom: 0.125rem solid v.$color-grey-1;
	background: v.$color-white;
	z-index: v.$z-index-menu;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	position: relative;
	@include m.fluid-props(height, v.$size-medium, v.$grid-max-width-max, 80px, 100px);

	&__logo {
		@include m.clean-link;
		@include m.fluid-props(width, v.$size-medium, v.$grid-max-width-max, 100px, 116px);
		& {
			margin-left: 30px;
			position: relative;
			z-index: 5;
		}

		@include m.media(v.$DESKTOP) {
			@include m.fluid-props(margin-left, v.$size-medium, v.$grid-max-width-max, 16px, 33px);
		}

		&:focus {
			border-left: solid 1px v.$color-primary;

			@include m.high-contrast {
				border-color: v.$color-primary-dark;
			}
		}

		.a-logo {
			max-width: 100%;
			max-height: 100%;
		}
	}

	&__right {
		&.is-open {
			display: block;
		}

		@include m.media(v.$MOBILE) {
			display: none;
			background: v.$color-grey-1;
			position: absolute;
			top: 80px;
			left: 0;
			width: 100%;
			padding: 22px 38px;
			min-height: 80px;
		}

		@include m.media(v.$DESKTOP) {
			@include m.fluid-props(padding-right, v.$size-medium, v.$size-huge, 24px, 33px);
		}
	}

	&__cta {
		display: inline-block;
	}

	&__language-nav {
		font-size: 0.875rem;
		display: inline-block;
		@include m.fluid-props(margin-left, v.$size-medium, v.$size-huge, 24px, 55px);
		& {
			float: right;
			margin-top: 11px;
			margin-bottom: 11px;
		}

		@include m.media(v.$DESKTOP) {
			float: none;
			margin-top: 0;
			margin-bottom: 0;
		}
	}

	&__language-nav-list {
		@include m.clean-ul;
	}

	&__language-nav-item {
		@include m.clean-li;
		display: inline-block;
		font-weight: v.$font-weight-bold;
		text-transform: uppercase;

		&:not(:last-of-type)::after {
			content: '|';
			font-weight: v.$font-weight-normal;
			padding: 0 0.125em;
		}
	}

	&__language-nav-link {
		@include m.clean-link;
		& {
			color: v.$color-text;
			transition: color v.$transition-fast v.$transition-ease;
		}

		&--active {
			color: v.$color-secondary;
		}

		&:hover {
			@extend .m-menu__language-nav-link--active;
		}

		&:focus {
			text-decoration: underline;
		}
	}

	/**
   * Main navigation
   */

	&__nav {
		@include m.media(v.$DESKTOP) {
			width: calc(100% - 500 * (100vw / 1024));
		}

		@include m.media(v.$MOBILE) {
			width: 100%;
			padding: 27px 38px 40px;
			position: absolute;
			top: 0;
			right: 0;

			&.is-open {
				background: v.$color-white;
				min-height: calc(100vh - 160px);
				@include m.fluid-props(top, v.$size-medium, v.$grid-max-width-max, 160px, 164px);

				.m-menu__hamburger {
					@include m.fluid-props(top, v.$size-medium, v.$grid-max-width-max, -133px, -135px);
				}
			}

			&--no-menu-right.is-open {
				top: 80px;

				.m-menu__hamburger {
					top: -53px;
				}
			}
		}
	}

	&__hamburger {
		position: absolute;
		top: 27px;
		right: 31px;

		@include m.media(v.$DESKTOP) {
			display: none;
		}
	}

	&__nav-list {
		@include m.clean-ul;
		& {
			width: 100%;
			margin: 0 auto;
			display: none;
			justify-content: space-between;
			flex-direction: column;
		}

		&.is-open {
			display: flex;
		}

		@include m.media(v.$DESKTOP) {
			display: flex;
			flex-direction: row;
			max-width: 800px;
			gap: 0.4rem;
		}
	}

	&__nav-item {
		@include m.clean-li;
		min-height: 2.5rem;

		&.is-active {
			position: absolute;
			top: -80px;
			height: 84px;
			padding-left: 41px;
			padding-right: 34px;
			width: 100%;
			left: 0;
			background: v.$color-white;
		}

		&.is-hidden {
			display: none;
		}

		&:last-of-type {
			min-width: 34px;
		}
	}

	&__nav-link {
		@include m.clean-link;
		& {
			display: inline-block;
			font-weight: v.$font-weight-bold;
			white-space: nowrap;
			color: v.$color-text;
			position: relative;
			padding: 19px 0;
			transition: color v.$transition-fast v.$transition-ease;
		}

		@include m.media(v.$DESKTOP) {
			margin: 0;
		}

		&--active,
		&:hover {
			color: v.$color-secondary;
		}

		&:focus {
			&:before {
				content: '';
				width: 0;
				height: 0;
				border-left: 1px solid v.$color-secondary;
				margin-right: 0.5em;
				margin-left: calc(-1px - 0.5em);
			}
		}

		&.is-open {
			&:after {
				@include m.fluid-props(bottom, v.$size-medium, v.$grid-max-width-max, -14.7px, -24px);
			}

			@include m.media(v.$MOBILE) {
				color: v.$color-secondary;
				width: 100%;
				margin-top: 15px;

				&:after {
					content: "";
					position: absolute;
					right: 0;
					top: 19px;
					bottom: auto; // because the fluid props can't be nested in media query
					background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNSIgaGVpZ2h0PSIxNCI+PHBhdGggZmlsbD0ibm9uZSIgc3Ryb2tlPSIjRTEwMDc4IiBzdHJva2Utd2lkdGg9IjIiIGQ9Ik0yNSA3SDFtNi01LjdMMS4zIDcgNyAxMi43Ii8+PC9zdmc+Cg==);
					width: 24px;
					height: 14px;
				}

				&:before {
					content: "";
					position: absolute;
					left: 0;
					bottom: -18px;
					width: 34px;
					height: 2px;
					z-index: 1;
					background-color: v.$color-secondary;
				}

				@include m.hover {
					&:before {
						margin-left: 0;
						width: calc(100vw - 69px);
						transition: width v.$transition-fast v.$transition-ease;
					}
				}
			}

			@include m.media(v.$DESKTOP) {
				&:after {
					content: '';
					position: absolute;
					left: 0;
					width: 100%;
					height: 2px;
					background-color: v.$color-primary;

					@include m.high-contrast {
						background-color: v.$color-primary-dark;
					}
				}
			}
		}
	}

	/**
   * Submenu
   */

	&__submenu {
		@include m.clean-ul;
		& {
			list-style-image: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7); // fix edge bug
			position: absolute;
			left: 0;
			width: 100%;
			min-height: calc(100vh - 57px + 20 * (100vh - 1024px) / 416);
			height: 100%;
			overflow-y: scroll;
			display: none;
			hyphens: auto;
			background-color: v.$color-grey-1;
			flex-direction: column;
		}
		@include m.fluid-props(top, v.$size-medium, v.$grid-max-width-max, 80px, 100px);

		@include m.media(v.$MOBILE) {
			top: 84px;
		}

		@include m.media(v.$DESKTOP) {
			background-color: v.$color-white;
			justify-content: center;
			align-items: flex-start;
			flex-direction: row;
			padding: 0 14px 50px 100px;
			overflow-y: hidden;
		}

		&--cta {
			background-color: v.$color-white;
		}

		&.is-open {
			display: flex;
			opacity: 1;
			animation-name: fadeInOpacity;
			animation-iteration-count: 1;
			animation-duration: v.$transition-fast;

			@keyframes fadeInOpacity {
				0% {
					opacity: 0;
				}
				100% {
					opacity: 1;
				}
			}

			@include m.media(v.$MOBILE) {
				min-height: calc(100vh - 151px + 20 * (100vh - 1024px) / 416);
			}
		}

		&__section {
			@include m.clean-li;
			width: calc(100% - 74px);
			display: block;
			margin-left: 41px;
			margin-right: 41px;
			margin-top: 2em;
			animation: fadeIn v.$transition-fast v.$transition-ease both;

			&:nth-last-of-type(2) {
				// second last because the last one is the close button
				margin-bottom: 37px;
			}

			@for $i from 1 through 4 {
				&:nth-of-type(#{$i}) {
					animation-delay: math.div($i * v.$transition-fast, 8);
				}
			}

			@keyframes fadeIn {
				from {
					opacity: 0;
					transform: translateY(-5px);
				}
				to {
					opacity: 1;
					transform: translateY(0);
				}
			}

			@include m.media(v.$DESKTOP) {
				max-width: 268px;
				@include m.fluid-props(margin-left margin-right, v.$size-medium, v.$grid-max-width-max, 12px, 16px);
				& {
					margin-top: 72px;
				}
			}
		}

		&__close-wrapper {
			@include m.clean-li;
			margin-left: 30px;
			margin-top: 12px;
			display: none;

			@include m.media(v.$DESKTOP) {
				display: block;
			}
		}

		&__close {
			width: 48px;
			height: 48px;

			svg {
				width: 100%;
				height: 100%;
				stroke: v.$color-primary;
				transition: stroke v.$transition-fast v.$transition-ease;

				@include m.high-contrast {
					stroke: v.$color-primary-dark;
				}
			}

			@include m.hover {
				svg {
					stroke: v.$color-secondary;
				}
			}
		}
	}

	&--force-mobile {
		.m-menu {
			&__right {
				display: none;
			}

			&__nav-list {
				display: none;
			}

			&__hamburger {
				display: block;
			}
		}
	}
}
