<ul class="m-menu__submenu {{ submenu_class }}" role="menu" aria-label="{{ ../aria-label-sub-navigation }}">
	{{#each section-items}}
		<li class="m-menu__submenu__section" role="none">
			{{> @a-submenu this}}
		</li>
	{{/each}}
	<li class="m-menu__submenu__close-wrapper" role="none">
		<button class="m-menu__submenu__close"
						aria-label="{{ ../aria-label-close-sub-navigation }}">
			<svg role="img">
				<title>{{close}}</title>
				<use xlink:href="#close"></use>
			</svg>
		</button>
	</li>
</ul>
