<header class="m-menu">
    <div class="m-menu__logo">
        {{> @a-logo logo}}
    </div>
    <nav class="m-menu__nav" id="menu">
        <ul class="m-menu__nav-list">
            {{#each nav-items}}
                <li class="m-menu__nav-item">
                    <a class="m-menu__nav-link {{#if @first }}m-menu__nav-link--active{{/if}}"
                       href="#">{{ this.title }}</a>
                    {{#if section-items}}
                        <ul class="m-menu__submenu">
                            {{#each section-items}}
                                <li class="m-menu__submenu__section">
                                    {{> @a-submenu this}}
                                </li>
                            {{/each}}
                            <li class="m-menu__submenu__close-wrapper">
                                <button class="m-menu__submenu__close">
                                    <svg title="Close" role="img">
                                        <use xlink:href="#close"/>
                                    </svg>
                                </button>
                            </li>
                        </ul>
                    {{/if}}
                </li>
            {{/each}}
            <li class="m-menu__nav-item">
                <a class="m-menu__nav-link" href="#">
                    <span class="m-menu__search-text">{{ search }}</span>
                <svg class="m-menu__search" role="search" alt="{{ search }}">
                    <use xlink:href="#glass"/>
                </svg>
                </a>
            </li>
        </ul>
    </nav>
    <div class="m-menu__right">
        <div class="m-menu__cta">{{> @a-button--outlined button}}</div>
        <div class="m-menu__language-nav">
            <ul class="m-menu__language-nav-list">
                {{#each languages}}
                    <li class="m-menu__language-nav-item">
                        <a class="m-menu__language-nav-link {{#if @first }}m-menu__language-nav-link--active{{/if}}"
                           href="#">{{ . }}</a>
                    </li>
                {{/each}}
            </ul>
        </div>
    </div>
    <div class="m-menu__hamburger">
        {{> @a-hamburger }}
    </div>
</header>