.m-menu {
  font-size: 0.9375rem; // 15/16
  border-bottom: 0.125rem solid $color-grey-1;
  z-index: $z-index-menu;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  @include fluid-props(height, $size-medium, $grid-max-width-max, 80px, 100px);

  @include media($size-medium) {
    position: fixed;
  }

  &__logo {
    @include fluid-props(width, $size-medium, $grid-max-width-max, 100px, 116px);
    margin-left: 30px;

    @include media($size-medium) {
      @include fluid-props(margin-left, $size-medium, $grid-max-width-max, 16px, 33px);
    }
  }

  &__right {
    display: none;
    background: $color-grey-1;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    padding: 22px 41px;

    &.is-open {
      display: block;
    }

    @include media($size-medium) {
      display: block;
      background: transparent;
      position: initial;
      top: initial;
      left: initial;
      width: initial;
      padding: 0;
      @include fluid-props(padding-right, $size-medium, $size-huge, 24px, 33px);
    }
  }

  &__cta {
    display: inline-block;
  }

  &__language-nav {
    font-size: 0.875rem;
    display: inline-block;
    @include fluid-props(margin-left, $size-medium, $size-huge, 24px, 55px);
    float: right;
    margin-top: 11px;

    @include media($size-medium) {
      float: initial;
      margin-top: 0;
    }
  }

  &__language-nav-list {
    @include clean-ul;
  }

  &__language-nav-item {
    @include clean-li;
    display: inline-block;
    font-weight: $font-weight-bold;
    text-transform: uppercase;

    &:first-of-type:after {
      content: '|';
      font-weight: $font-weight-normal;
      padding: 0 0.5em 0 0.7em;
    }
  }

  &__language-nav-link {
    @include clean-link;
    color: $color-text;

    &--active {
      color: $color-secondary;
    }
  }

  /**
   * Main navigation
   */

  &__nav {
    width: 100%;
    padding: 8px 41px 40px;
    display: none;
    position: absolute;
    top: 168px;

    &.is-open {
      display: block;
    }

    @include media($size-medium) {
      width: calc(100% - 500 * (100vw / 1024));
      display: block;
      padding: initial;
      position: initial;
      top: initial;
    }
  }

  &__nav-list {
    @include clean-ul;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    @include media($size-medium) {
      flex-direction: row;
      max-width: 800px;
    }
  }

  &__nav-item {
    @include clean-li;

    &.is-active {
      position: absolute;
      top: -88px;
      width: calc(100% - 69px);
    }

    &.is-hidden {
      display: none;
    }
  }

  &__nav-link {
    @include clean-link;
    display: inline-block;
    font-weight: $font-weight-bold;
    white-space: nowrap;
    color: $color-text;
    position: relative;
    margin-top: 38px;

    @include media($size-medium) {
      margin-top: 0;
    }

    &--active,
    &:focus,
    &:hover {
      color: $color-secondary;
    }

    &.is-open {
      &:after {
        @include fluid-props(bottom, $size-medium, $grid-max-width-max, -35px, -45px);
      }

      // mobile only
      @media all and (max-width: ($size-medium - 1)) {
        color: $color-secondary;
        width: 100%;
        margin-top: 32px;

        &:after {
          content: "";
          position: absolute;
          right: 0;
          top: 0;
          bottom: auto; // because the fluid props can't be nested in media query
          background: url('/img/arrow.svg') no-repeat;
          width: 24px;
          height: 14px;
        }

        &:before {
          content: "";
          position: absolute;
          left: 0;
          bottom: -36px;
          width: 34px;
          height: 2px;
          z-index: $z-index-menu + 1;
          background-color: $color-secondary;
        }
      }

      // desktop only
      @include media($size-medium) {
        &:after {
          content: '';
          position: absolute;
          left: 0;
          width: 100%;
          height: 2px;
          background-color: $color-primary;
        }
      }
    }
  }

  &__search-text {
    @include media($size-medium) {
      display: none;
    }
  }

  &__search {
    fill: none;
    stroke: $color-text;
    width: 1.333em;
    height: 1.333em;
    margin-bottom: -4px;
    margin-left: 30px;

    @include media($size-medium) {
      margin-top: -3px;
      margin-bottom: initial;
      margin-left: initial;
    }

    @include hover {
      stroke: $color-secondary;
    }
  }

  &__hamburger {
    margin-right: 32px;

    @include media($size-medium) {
      display: none;
    }
  }

  /**
   * Submenu
   */

  &__submenu {
    @include clean-ul;
    position: absolute;
    @include fluid-props(top, $size-medium, $grid-max-width-max, 80px, 100px);
    left: -41px;
    width: 100vw;
    min-height: calc(100vw - 80px + 20 * (100vw - 1024px) / 416);
    display: none;
    font-size: 1rem;
    hyphens: auto;
    background-color: $color-grey-1;
    flex-direction: column;

    @include media($size-medium) {
      background-color: transparent;
      left: 0;
      justify-content: center;
      align-items: flex-start;
      flex-direction: row;
      padding: 0 100px;
    }

    &.is-open {
      display: flex;
    }

    &__section {
      @include clean-li;
      width: calc(100% - 74px);
      display: block;
      margin-left: 41px;
      margin-right: 41px;
      margin-top: 2em;

      &:nth-last-of-type(2) {
        // second last because the last one is the close button
        margin-bottom: 37px;
      }

      @include media($size-medium) {
        max-width: 268px;
        @include fluid-props(margin-left margin-right, $size-medium, $grid-max-width-max, 12px, 16px);
        margin-top: 72px;
      }
    }

    &__close-wrapper {
      @include clean-li;
      position: absolute;
      right: 16px;
      top: 12px;
      display: none;

      @include media($size-medium) {
        display: block;
      }
    }

    &__close {
      width: 48px;
      height: 48px;

      svg {
        width: 100%;
        height: 100%;
        stroke: $color-primary;
      }
    }
  }
}