.m-menu {
  font-size: 0.9375rem; // 15/16
  border-bottom: 0.125rem solid $color-grey-1;
  position: fixed;
  width: 100%;
  @include fluid-props(height, $size-medium, $grid-max-width-max, 80px, 100px);

  &__logo {
    @include fluid-props(width, $size-medium, $grid-max-width-max, 100px, 116px);
    position: absolute;
    top: 50%;
    @include fluid-props(left, $size-medium, $grid-max-width-max, 74px, 91px);
    transform: translate(-50%, -50%);
  }

  &__right {
    @include fluid-props(padding-right, $size-medium, $size-huge, 24px, 33px);
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
  }

  &__cta {
    display: inline-block;
  }

  &__language-nav {
    font-size: 0.875rem;
    display: inline-block;
    @include fluid-props(margin-left, $size-medium, $size-huge, 24px, 55px);
  }

  &__language-nav-item {
    display: inline-block;
    font-weight: $font-weight-bold;
    text-transform: uppercase;

    &:first-of-type:after {
      content: '|';
      font-weight: $font-weight-normal;
      padding: 0 0.4em 0 0.8em;
    }
  }

  &__language-nav-link {
    color: $color-text;

    &--active {
      color: $color-secondary;
    }
  }

  /**
   * Main navigation
   */

  &__nav {
    width: calc(100% - 500 * (100vw / 1024));
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    @include fluid-props(left, $size-medium, $size-huge, 164px, 368px);
  }

  &__nav-list{
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

  &__nav-link {
    display: inline-block;
    font-weight: $font-weight-bold;
    white-space: nowrap;
    @include fluid-props(margin-top, $size-medium, $grid-max-width-max, 32px, 40px);
    @include fluid-props(height, $size-medium, $grid-max-width-max, 48px, 60px);
    border-bottom: solid 0.125rem transparent;

    &--active,
    &:focus,
    &:hover {
      border-bottom-color: $color-primary;
    }
  }

  &__nav-link {
    color: $color-text;
  }

  &__search {
    fill: none;
    stroke: $color-text;
    width: 1.333em;
    height: 1.333em;
    margin-top: -3px;
  }

  /**
   * Submenu
   */

  &__submenu {
    position: absolute;
    @include fluid-props(top, $size-medium, $grid-max-width-max, 80px, 100px);
  }
}