@use "sass:math";
@use "../../../scss/variables" as v;
@use "../../../scss/mixins" as m;

.m-event-details {
	line-height: 1.75em;
	@include m.fluid-props(margin-bottom, v.$fluid-min, v.$fluid-max, 40px, 80px);

	@include m.media(v.$size-small) {
		font-size: 1.125rem;
	}

	@include m.media(v.$size-medium) {
		font-size: 1.25rem;
	}

	&__icon {
		height: 1em;
		width: 1em;
		transform: translateY(0.1em);
	}

	&__time-wrapper &__icon {
		fill: v.$color-primary;

		@include m.high-contrast {
			fill: v.$color-primary-dark;
		}
	}

	&__location-wrapper &__icon {
		stroke: v.$color-primary;

		@include m.high-contrast {
			stroke: v.$color-primary-dark;
		}
	}
}
