<div class="m-list-header">
	<h2 class="m-list-header__title-wrapper">
		<span class="m-list-header__counter">{{counter}}</span>
		<span class="m-list-header__title">{{title}}</span>
	</h2>
	<div class="m-list-header__criteria">
		<div class="m-list-header__criteria-desc">{{criteria-desc}}</div>
		<ul class="m-list-header__criteria-list">
		{{#each criteria}}
			<li class="m-list-header__criteria-item">{{.}}</li>
		{{/each}}
		</ul>
	</div>
</div>
