<div class="m-link-list {{modifiers_classes}}">
	<div class="m-link-list__cat-title">
		{{> @a-cat-title cat-title}}
	</div>
	<ul class="m-link-list__list">
		{{#each links}}
			<li class="m-link-list__item">
				<div class="m-link-list__inner">
					{{> @a-post-link this}}
				</div>
			</li>
		{{/each}}
	</ul>
	{{#if link-button}}
		<div class="m-link-list__more">
			{{> @a-link-button link-button}}
		</div>
	{{/if}}
</div>
