.a-progress {
	margin: 1em 0;
	width: 100%;

	&__container {
		width: 100%;
		height: 2.5rem;
		background: $color-grey-1;
		overflow: hidden;
	}

	&__bar {
		background: $color-primary;
		height: 100%;
		position: relative;

		&::after {
			content: ' ';
			display: block;
			background-color: white;
			width: 1px;
			height: 110%;
			transform: rotateZ(8deg);
			opacity: 0.1;
			box-shadow: 0 0 1em 0.75em white;
			position: absolute;

			animation-iteration-count: infinite;
			animation-timing-function: $transition-ease;
			animation-duration: 2.5s;
			animation-name: flash;

			@keyframes flash {
				from {
					left: -1000%;
				}

				75% {
					left: 0
				}

				to {
					left: 100%
				}
			}
		}
	}

	&__max {
		display: block;
		width: 100%;
		text-align: right;
		padding-bottom: 0.125em;
		color: $color-text-light;
		font-size: 0.875rem;
	}

	&__current {
		position: absolute;
		right: 0.5em;
		top: 50%;
		transform: translateY(-50%);
		color: $color-white;
		font-weight: $font-weight-bold;
		font-size: 1.4rem;
	}

	&__current--right {
		right: -0.5em;
		transform: translateY(-50%) translateX(100%);
		color: $color-text-light;
	}

	&__legend {
		line-height: 1.4em;
		margin: 0 0 0.25em;
	}
}
