.m-branding {
  $height: 136px;

  background-color: $color-primary;
  color: $color-white;
  width: 100%;
  height: $height;
  letter-spacing: 0.2px;

  .grid-wrapper {
    @extend .grid;
    display: table;

    .table-row {
      display: table-row;
      height: $height;

      h1 {
        display: table-cell;
        vertical-align: middle;
        width: 100%;
        height: $height;
        @include fluid-props(font-size, $fluid-min, $fluid-max, 24px, 34px);

        span {
          white-space: nowrap;
        }
      }

      > div {
        display: table-cell;
        vertical-align: middle;
        height: $height;
        width: 148px;

        @media all and (max-width: $size-small) {
          display: none;
        }

        svg {
          height: 91px;
          width: 148px;
        }
      }
    }
  }
}