<section class="m-branding" role="banner">
    <div class="m-branding__wrapper">
        <div class="m-branding__row">
            <h1 class="m-branding__title">
                {{#each unbreakables}}
                    <span class="m-branding__unbreakeable">{{ . }}</span>
                {{/each}}
            </h1>
            <div class="m-branding__logo">{{ render '@a-logo--de-white' }}</div>
        </div>
    </div>
</section>