<section class="m-branding" role="branding">
    <div class="grid-wrapper">
        <div class="table-row">
            <h1>
                {{#each unbreakables}}
                    <span>{{ this }}</span>
                {{/each}}
            </h1>
            <div>{{ render '@a-logo--de-white' }}</div>
        </div>
    </div>
</section>