@use "sass:math";
@use "../../../scss/variables" as v;
@use "../../../scss/mixins" as m;

.a-search {
	$offset: 0.75em;
	position: relative;

	&:not(&--inverted) {
		margin-left: #{- $offset};

		@include m.media(v.$DESKTOP) {
			margin-left: 0;
		}
	}

	@include m.media(v.$DESKTOP) {
		padding-top: 0.533em;
	}

	&--covering {
		@include m.media(v.$DESKTOP) {
			position: absolute;
			background: rgba(255, 255, 255, 0);
			height: 60px;
			transition: all v.$transition-ease v.$transition-mid;
			width: 100%;
			max-width: 34px; // this will be overwritten by js

			&.is-active {
				background: v.$color-white;
			}
		}
	}

	&--expanded {
		width: 100%;
		max-width: 100%;
	}

	&__icon {
		fill: none;
		stroke: v.$color-text;
		width: 1.333em;
		height: 1.333em;
		margin-bottom: -0.25em;
		margin-left: -2em;
		cursor: pointer;
		transition: stroke v.$transition-ease v.$transition-fast;

		&.highlight,
		&:hover,
		&:focus {
			stroke: v.$color-secondary;
		}
	}

	&--expanded &__icon {
		margin-left: 0;
	}

	&__field {
		& {
			background: transparent;
			border: none;
			width: 8.8em;
			max-width: 300px;
			font-size: 0.9375rem;
			font-weight: 700;
			color: v.$color-text;
			transition: all v.$transition-ease v.$transition-mid;
			height: 2.625em;
			padding-left: $offset;
			border-bottom: 2px solid transparent;
		}

		@include m.media(v.$DESKTOP) {
			width: 2em;
			color: transparent;
		}

		&::placeholder {
			color: v.$color-text;
			transition: color v.$transition-ease v.$transition-fast;

			@include m.high-contrast {
				color: v.$color-text;
			}
		}

		&:focus,
		&.is-active {
			width: 100%;
			background-color: v.$color-grey-1;
			border-bottom-color: v.$color-grey-2;
			outline: none;
			color: v.$color-text;
			padding-right: 2.4em;

			@include m.high-contrast {
				border-color: v.$color-text;
			}

			&::placeholder {
				color: v.$color-grey-2;

				@include m.high-contrast {
					color: v.$color-text;
				}
			}
		}

		&:not(:focus),
		&:not(.is-active) {
			cursor: pointer;

			@include m.media(v.$MOBILE) {
				&.highlight {
					&::placeholder {
						color: v.$color-secondary;
					}
				}
			}

			@include m.media(v.$DESKTOP) {
				&::placeholder {
					color: transparent;
				}
			}
		}
	}

	&--inverted &__field {
		background-color: v.$color-white;
	}

	&--expanded &__field {
		& {
			width: 100%;
			max-width: 100%;
			color: v.$color-text;
			border-bottom-color: v.$color-grey-3;
			cursor: text;
			padding-right: 2.4em;
		}

		@include m.high-contrast {
			border-color: v.$color-text;
		}

		&::placeholder {
			color: v.$color-grey-3;

			@include m.high-contrast {
				color: v.$color-text;
			}
		}
	}

	&__submit-label {
		width: 0;
		position: absolute;
		top: 7px;

		@include m.media(v.$DESKTOP) {
			top: 16px;
		}
	}

	&--expanded &__submit-label {
		right: 39px;
	}

	&__submit {
		// hide for none screen readers
		position: absolute;
		left: -10000px;
		top: auto;
		width: 1px;
		height: 1px;
		overflow: hidden;
	}
}
