@use "sass:math";
@use "../../../scss/variables" as v;
@use "../../../scss/mixins" as m;

.m-share-block {
	$icon-size-xs: 50px;
	$icon-size-sm: 80px;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 100%;
	margin: 0.5rem 0;

	&__icon {
		@include m.fluid-props(max-width, v.$size-tiny, v.$size-small, $icon-size-xs, $icon-size-sm);
		@include m.fluid-props(height, v.$size-tiny, v.$size-small, $icon-size-xs, $icon-size-sm);
	}
}
