<div class="m-campaign-desc">
	<h2 class="m-campaign-desc__title" id="main-content">
		<a href="{{url}}" class="m-campaign-desc__link">{{title}}</a>
	</h2>
	<p class="m-campaign-desc__desc">{{text}}</p>
	<div class="m-campaign-desc__more">
		{{> @a-link-button link-button}}
	</div>
</div>
