@use "sass:math";
@use "../../../scss/variables" as v;
@use "../../../scss/mixins" as m;

.m-person {
	$intermediate-breakpoint: 480px;

	background-color: v.$color-grey-1;
	@include m.fluid-props(margin-top, v.$fluid-min, v.$fluid-max, 20px, 40px);
	& {
		font-size: 0.875rem;
	}
	@include m.media(v.$size-small) {
		font-size: 1rem;
	}

	&__text {
		font-size: 0.875rem !important;
		@include m.media(v.$size-small) {
			font-size: 1rem !important;
		}
	}

	&__main {
		display: flex;
		flex-direction: column;
		position: relative;

		@include m.media($intermediate-breakpoint) {
			flex-direction: row;
		}
	}

	&__image {
		width: 100%;

		@include m.media($intermediate-breakpoint) {
			max-width: 170px;
		}

		@include m.media(v.$size-small) {
			max-width: 215px;
		}
	}

	&__image-aspect-ratio-box {
		width: 100%;

		@include m.aspect-ratio-box(100%);
	}

	&__basic-info {
		margin: 8px 20px 20px;
		width: 100%;

		@include m.media(v.$size-small) {
			margin: 12px 24px 24px;
		}
	}

	&--expandable &__basic-info {
		padding-bottom: 20px;
	}

	&__full-name {
		@include m.heading-font;
		& {
			display: inline-block;
			font-size: 1rem;
		}
	}

	&__supplementary {
		display: inline-block;
		&::before {
			content: '\00a0\2013\00a0';
		}
	}

	&__role {
		margin: 0.75em 0;
		hyphens: auto;

		@extend .m-person__text;

		@include m.media($intermediate-breakpoint) {
			hyphens: none;
		}
	}

	&__address {
		display: flex;
		flex-direction: column;
		align-items: flex-start;

		.yw-protect-info .dashicons {
			margin-top: 3px;
		}
	}

	&__contact {
		margin: 0.2em 0;
	}

	&__social-media {
		display: flex;
		margin-top: 0.75em;
	}

	&__social-icon {
		width: 32px;
		height: 32px;
		margin-right: 12px;
	}

	&__toggle {
		position: absolute;
		bottom: 0;
		right: 0;
		background: v.$color-primary-super-light;
		padding: 16px 12px 16px 18px;

		font-size: 0.875rem;
		color: v.$color-primary-dark;
		font-family: v.$font-secondary;
		font-weight: v.$font-weight-bold;
		text-transform: uppercase;
		cursor: pointer;
		transition: all v.$transition-fast v.$transition-ease;
		letter-spacing: 0.08928em;

		@include m.hover {
			background: v.$color-primary-light;

			@include m.high-contrast {
				color: v.$color-text;
			}
		}

		&::after {
			font-size: 1.15em;
			line-height: 0;
		}

		&.is-collapsed::after {
			content: '\00a0\00FF0B';
			position: relative;
		}

		&.is-expanded::after {
			content: '\00a0\002013';
			position: relative;
			top: -2px;
			right: 2px;
			padding-left: 7px;
		}
	}

	&__toggle.is-collapsed &__collaps {
		display: none;
	}

	&__toggle.is-expanded &__expand {
		display: none;
	}

	&__expandable {
		background: v.$color-grey-2;
		transition: all ease-in-out v.$transition-mid;
		overflow: hidden;
		max-height: 5000px;

		@include m.fluid-props(padding, $intermediate-breakpoint, v.$size-small, 20px, 48px);

		&.is-collapsed {
			max-height: 0;
			height: 0;
			padding-top: 0;
			padding-bottom: 0;
		}

		h1, h2, h3, h4, h5 {
			font-size: 1rem;
			color: v.$color-text;
		}
	}

	&__contact-title {
		margin-top: 35px;
	}
}
