<article class="o-campaign">
	<div class="o-campaign__image-wrapper">
		<div class="o-campaign__image">
			{{> @a-image image-src="/img/wheat_ratio.jpg"
				alt="Some many things on this image"
				title="This is a linked image"
				copy="Photographer xy"}}
		</div>
		<div class="o-campaign__bars">
			{{render '@m-bars'}}
		</div>
	</div>
	<div class="o-campaign__spacer" aria-hidden="true">
		{{> @a-image image-src="/img/wheat_ratio.jpg"
			alt="Some many things on this image"
			title="This is a linked image"
			copy="Photographer xy"}}
	</div>
	<div class="o-campaign__cta-wrapper">
		<div class="o-campaign__desc">
			{{render '@m-campaign-desc'}}
		</div>
		<div class="o-campaign__cta">
			{{render '@m-campaign-cta'}}
		</div>
	</div>
</article>
