<article class="o-campaign">
    <div class="o-campaign__image">
        {{render '@a-campaign-image'}}
    </div>
    <div class="o-campaign__bars">
        {{render '@m-bars'}}
    </div>
    <div class="o-campaign__cta-wrapper">
        <div class="o-campaign__desc">
            {{render '@m-campaign-desc'}}
        </div>
        <div class="o-campaign__cta">
            {{render '@m-campaign-cta'}}
        </div>
    </div>
</article>