.a-image {
	max-width: 100%;
	position: relative;
	line-height: 0;

	&__image {
		transition: transform $transition-mid $transition-ease-image;
	}

	&--cover {
		width: 100%;
		height: 100%;
	}

	&--cover &__image {
		width: 100%;
		height: 100%;
	}

	&--cover &__lazy-wrapper {
		width: 100%;
		height: 100%;
		overflow: hidden;
	}

	&__image--lazy {
		filter: blur(2vw);
		transform: scale(1.1);
	}

	&__image--loaded {
		animation-name: reveal;
		animation-duration: $transition-mid;
		animation-timing-function: $transition-ease-image;
	}

	&--cover &__image--fp {
		@include object-fit(cover, 0 0);

		&-top {
			&-left {
				object-position: 0 0;
			}

			&-center {
				object-position: 50% 0;
			}

			&-right {
				object-position: 100% 0;
			}
		}

		&-middle {
			&-left {
				object-position: 0 50%;
			}

			&-center {
				object-position: 50% 50%;
			}

			&-right {
				object-position: 100% 50%;
			}
		}

		&-bottom {
			&-left {
				object-position: 0 100%;
			}

			&-center {
				object-position: 50% 100%;
			}

			&-right {
				object-position: 100% 100%;
			}
		}
	}

	&__link {
		@include clean-link;

		display: block;
		max-width: 100%;
		overflow: hidden;

		@include hover {
			.a-image__image {
				transform: scale(1.01);
			}
		}
	}

	&--cover &__link {
		width: 100%;
		height: 100%;
	}

	&__copy {
		position: absolute;
		@include fluid-props(bottom right, $size-tiny, $size-large, 5px, 19px);
		@include fluid-props(font-size, $size-tiny, $size-large, 5px, 10px);
		transform: translateX(calc(100% - 1em)) rotate(-90deg);
		transform-origin: top left;

		color: $color-white;
		text-transform: uppercase;
	}
}

@keyframes reveal {
	0%   {filter: blur(2vw); transform: scale(1.1);}
	100% {filter: blur(0); transform: scale(1);}
};

.no-js .a-image--cover .a-image__lazy-wrapper {
	display: none;
}
