.a-image {
	max-width: 100%;
	position: relative;
	line-height: 0;

	&__image {
		max-width: 100%;
		height: auto;
		transition: transform $transition-mid $transition-ease-image;
	}

	&__link {
		@include clean-link;

		display: block;
		max-width: 100%;
		overflow: hidden;

		@include hover {
			.a-image__image {
				transform: scale(1.01);
			}
		}
	}

	&__copy {
		position: absolute;
		@include fluid-props(bottom right, $size-tiny, $size-large, 5px, 19px);
		@include fluid-props(font-size, $size-tiny, $size-large, 5px, 10px);
		transform: translateX(calc(100% - 1em)) rotate(-90deg);
		transform-origin: top left;

		color: $color-white;
		text-transform: uppercase;
	}
}
