{% extends "archive.twig" %}

{% block archive_header %}
	<a id="main-content" aria-hidden="true" tabindex="-1" class="m-skip-link__target"></a>
	<h1>{{ __('Page not found', constant('THEME_DOMAIN'))|wptexturize }}</h1>
	<div class="page__header-text">
		<p>{{ __("Sorry, we couldn't find what you're looking for. Have you tried the search?", constant('THEME_DOMAIN'))|wptexturize }}</p>
		<div class="page__header-search">
			{% include 'atoms/a-search.twig' with {'modifiers': ['a-search--inverted', 'a-search--expanded']} %}
		</div>
	</div>
{% endblock %}
