{% if block.acf_fc_layout == 'in_short' %}
    <div class="page__box">
        {% include 'molecules/m-in-short.twig' with block only %}
    </div>
{% elseif block.acf_fc_layout == 'quote' %}
    <div class="page__quote">
        {% include 'molecules/m-quote.twig' with block only %}
    </div>
{% elseif block.acf_fc_layout == 'person' %}
    <div class="page__person">
        {% include 'molecules/m-person.twig' with block only %}
    </div>
{% elseif block.acf_fc_layout == 'form' or block.form %}
    <div class="page__form">
        {% include 'molecules/m-form.twig' with {
            'post': ACFPost(block.form),
            'action_id': action_id,
						'config_id': config_id
        } only %}
    </div>
{% elseif block.acf_fc_layout == 'image' or block.image %}
	<div class="page__image">
		{% include 'atoms/a-image.twig' with {
			'image': block.image.id,
		} only %}
	</div>
{% elseif block.acf_fc_layout == 'engagement_funnel' %}
    <div class="page__engagement_funnel">
        {% set action = block.configuration.get_field('configurations').0.base_action %}
        {% set content = action.get_field('content') %}
				{% set config_id = block.configuration.id %}

        {% if content.post_type == 'petition' %}
            {% include 'content-block.twig' with {
                'block': content,
                'action_id': action.id,
								'cconfig_id': config_id
            } only %}
        {% elseif content.post_type == 'theme_form' %}
            {% include 'content-block.twig' with {'block': {
                'form': content,
                'action_id': action.id,
								'config_id': config_id
            }} only %}
        {% else %}{# assume post #}
            {% for block in content.get_field('main_content').content %}
                {% include 'content-block.twig' with {
                    'block': block,
                    'action_id': action.id,
										'config_id': config_id
                } only %}
            {% endfor %}
        {% endif %}
    </div>
{% elseif block.acf_fc_layout == 'oembed' %}
    {{ block.oembed }}
{% else %}
    {{ block.text }}
{% endif %}
