{% extends "base.twig" %}

{% block content %}
	<article class="page__grid{% if not post.share_buttons %} page__grid--no-sidebar{% endif %}">
		<div class="page__content">
			<header class="page__header-wrapper">
				<div class="page__header">
					<div class="page__breadcrumbs">
						{% include 'atoms/a-breadcrumbs.twig' %}
					</div>
					<h1 id="main-content">{{ post.title|wptexturize }}</h1>
					<div class="page__header-text">
						{% include 'molecules/m-event-details.twig' with {
							'post': post,
						} only %}
					</div>
				</div>
			</header>
			{# legacy content #}
			{{ post.description|shortcodes|wptexturize|disableable_wpautop }}
			{# new content #}
			{% for block in post.get_field('event_content').content %}
				{% include 'content-block.twig' with {'block':block|merge({'twitter_via': post.twitter_name,'post_link': post.link})} only %}
			{% endfor %}
		</div>
		<div class="page__post-meta-wrapper page__row--1">
			<aside class="page__post-meta">
				{# leave this empty container as spacer for the sharebuttons #}
			</aside>
			{% if post.share_buttons %}
				<div class="page__shareable">
					<aside class="page__share">
						{% include 'molecules/m-share.twig' with {
							'url': post.link,
							'text': post.title,
							'via': post.twitter_via,
						} only %}
					</aside>
				</div>
			{% endif %}
		</div>
	</article>
{% endblock %}
