{% extends "base.twig" %}

{% block content %}
	<article>
		<div class="page__content">
			<div class="page__shareable">
				{% if post.share_buttons %}
					<aside class="page__share">
						{% include 'molecules/m-share.twig' with {
							'url': post.link
						} only %}
					</aside>
				{% endif %}
				<header class="page__header-wrapper">
					<div class="page__header">
						<div class="page__breadcrumbs">
							{% include 'atoms/a-breadcrumbs.twig' %}
						</div>
						<h1>{{ post.title }}</h1>
						<div class="page__header-text">
							{% include 'molecules/m-event-details.twig' with {
								'post': post,
							} only %}
						</div>
					</div>
				</header>
				{{ post.description|wpautop|shortcodes }}
			</div>
		</div>
	</article>
{% endblock %}
