<footer class="o-footer">
    <section class="o-footer__main">
        {{ widgets.footer }}
    </section>
    <section class="o-footer__meta">
        {% include 'atoms/a-footer-meta.twig' %}
    </section>
</footer>
