<footer class="o-footer">
	{% if widgets.footer %}
		<section class="o-footer__main">
			{{ widgets.footer }}
		</section>
	{% endif %}
	<section class="o-footer__meta">
		{% include 'atoms/a-footer-meta.twig' %}
	</section>
</footer>
