<footer class="o-footer">
    <section class="o-footer__main">
        {{ widgets.footer }}
        {#<div class="o-footer__link-list">#}
            {#{{render '@a-footer-link-list'}}#}
        {#</div>#}
    </section>
    <section class="o-footer__meta">
        {% include 'atoms/a-footer-meta.twig' %}
    </section>
</footer>
