{% extends "base.twig" %}

{% block content %}
	{% if post.campaign_show_main_campaign %}
	<section class="front__campaign">
		{% set bars = post.get_field('campaign_bars') %}
		{% if post.campaign_summary_read_more %}
			{% set read_more_text = post.campaign_summary_read_more.title %}
			{% set read_more_link = post.campaign_summary_read_more.url %}
		{% else %}
			{# this is a legacy handler. #}
			{% set read_more_text = post.campaign_summary_read_more_text %}
			{% set read_more_link = post.get_field('campaign_link').link() %}
		{% endif %}
		{% if post.campaign_call_to_action_title %}
			{% set cta_title = post.campaign_call_to_action_title %}
		{% else %}
			{# this is a legacy handler. #}
			{% set cta_title = post.campaign_call_to_action_participate_title_title %}
		{% endif %}
		{% if post.campaign_call_to_action_type %}
			{% set action_type = post.campaign_call_to_action_type %}
		{% else %}
			{# this is a legacy handler. #}
			{% set action_type = 'form' %}
		{% endif %}
		{% include 'organisms/o-campaign.twig' with {
			'image': post.campaign_image,
			'bars': {
				'headlines_green': bars.headlines.green,
				'headlines_white': bars.headlines.white,
				'headlines_magenta': bars.headlines.magenta,
				'sublines_white': bars.sublines.white,
				'sublines_green': bars.sublines.green,
				'alignment': bars.bar_alignment,
				'no_sanuk': no_sanuk,
				'main_color' : bars.main_color,
			},
			'desc': {
				'title': post.campaign_summary_title,
				'teaser': post.campaign_summary_teaser,
				'read_more_text': read_more_text,
				'link': read_more_link
			},
			'cta': {
				'title': cta_title,
				'desc': post.campaign_call_to_action_description,
				'form': post.campaign_call_to_action_form,
				'link': post.campaign_call_to_action_link,
				'button': post.campaign_call_to_action_button,
				'type': action_type
			}
		} only %}
	</section>
	{% endif %}
	<div class="front__grid-wrapper{% if not post.campaign_show_main_campaign %} front__grid-wrapper--no-campaign{% endif %}">
		<section class="front__grid">
			{% for block in post.get_field('content_blocks') %}
			{% if block.acf_fc_layout == 'testimonials' %}
		</section> {# this dirty hack is necessary to achieve full with even on big screens and shift around the IE scrollbar bug #}
		<section class="front__article front__article--full-width">
			{% include 'organisms/o-people-grid.twig' with block only %}
		</section>
		<section class="front__grid"> {# this belongs to the hack above#}
			{% else %}
				<div class="front__article {% if block.full_width %}front__article--2-col{% endif %}">
					{% if block.acf_fc_layout == 'vote' %}
						{% include 'organisms/o-vote.twig' with block only %}
					{% elseif block.acf_fc_layout == 'events' %}
						{% if loop.parent.events %}
							{% include 'organisms/o-front-events.twig' with {
								'block': block,
								'events': loop.parent.events,
								'events_link': loop.parent.events_link
							} only %}
						{% endif %}
					{% elseif block.acf_fc_layout == 'positions' %}
						{% include 'organisms/o-positions.twig' with block only %}
					{% elseif block.acf_fc_layout == 'engagement_map' %}
						{% include 'organisms/o-engagement-map.twig' with block only %}
					{% else %}
						{% include 'organisms/o-front-article.twig' with {
							'block': block,
							'latest_press_release': loop.parent.latest_press_release,
							'latest_posts': attribute(latest_posts, loop.index0)
						} only %}
					{% endif %}
				</div>
			{% endif %}
			{% endfor %}
		</section>
	</div>
{% endblock %}
