{% set page_modifiers = ['page--overview'] %}

{% extends "base.twig" %}

{% block content %}
	<header class="page__wide-header-wrapper">
		<div class="page__wide-header">
			<div class="page__breadcrumbs">
				{% include 'atoms/a-breadcrumbs.twig' %}
			</div>
			<h1>{{ post.title }}</h1>
			<div class="page__wide-header-text">
				<p>{{ post.excerpt() }}</p>
			</div>
		</div>
	</header>
	<div class="page__content">
		<div class="page__preview-articles">
			{% for item in post.get_field('posts') %}
				<article class="page__preview-article">
					{% include 'molecules/m-front-article.twig' with {
						'post': item.post,
						'modifiers': [
							'm-front-article--image-first',
							'm-front-article--stretch'
						]
					} only %}
				</article>
			{% endfor %}
		</div>
	</div>
{% endblock %}
