{% set page_modifiers = ['page--overview'] %}

{% extends "base.twig" %}

{% block content %}
	<article class="page__grid page__grid--no-sidebar">
		<header class="page__full page__grid page__grid--no-sidebar page__header-wrapper page__header-wrapper--highlighted">
			<div class="page__wide page__wide--content-width page__header">
				<div class="page__breadcrumbs">
					{% include 'atoms/a-breadcrumbs.twig' %}
				</div>
				<a id="main-content" aria-hidden="true" tabindex="-1" class="m-skip-link__target"></a>
				<h1>{{ post.title|wptexturize }}</h1>
				<div class="page__header-text">
					<p>{{ post.full_excerpt()|wptexturize }}</p>
				</div>
			</div>
		</header>
		<div class="page__wide">
			<div class="page__preview-articles">
				{% for item in post.get_field('posts') %}
					{% if item.post %}
						<article class="page__preview-article">
							{% include 'molecules/m-front-article.twig' with {
								'post': item.post,
								'modifiers': [
									'm-front-article--image-first',
									'm-front-article--stretch'
								]
							} only %}
						</article>
					{% endif %}
				{% endfor %}
			</div>
		</div>
	</article>
{% endblock %}
