{% extends "archive.twig" %}

{% block archive_header %}
	<h1>{{ title }}</h1>
	<div class="page__header-text">
		<div class="page__header-search">
			{% include 'atoms/a-search.twig' with {'modifiers': ['a-search--inverted', 'a-search--expanded']} %}
		</div>
	</div>
{% endblock %}
