{% extends "archive.twig" %}

{% block archive_header %}
	<a id="main-content" aria-hidden="true" tabindex="-1" class="m-skip-link__target"></a>
	<h1>{{ block_title|wptexturize }}</h1>
	<div class="page__header-text">
		<div class="page__header-search">
			{% include 'atoms/a-search.twig' with {'modifiers': ['a-search--inverted', 'a-search--expanded']} %}
		</div>
	</div>
{% endblock %}

{% block archive_footer %}
{% endblock %}
