{% extends "base.twig" %}

{% block content %}
	{% set main_content = post.get_field('main_content') %}
	{% set link_lists = post.get_field('link_lists') %}
	<article>
		{% if main_content.header_image %}
			<div class="page__header-image">
				{% include 'atoms/a-image.twig' with {
					'image': main_content.header_image,
					'size': header
				} only %}
			</div>
		{% endif %}
		<div class="page__content">
			<header>
				{% if post.share_buttons %}
					<div class="page__share">
						{% include 'molecules/m-share.twig' with {
							'url': post.link
						} only %}
					</div>
				{% endif %}
				<div class="page__breadcrumbs">
					{% include 'atoms/a-breadcrumbs.twig' %}
				</div>
				<h1>{{ post.title }}</h1>
			</header>
			{% for block in main_content.content %}
				{% if block.acf_fc_layout == 'in_short' %}
					<div class="page__box">
						{% include 'molecules/m-in-short.twig' with block only %}
					</div>
				{% elseif block.acf_fc_layout == 'quote' %}
					<div class="page__quote">
						{% include 'molecules/m-quote.twig' with block only %}
					</div>
				{% elseif block.acf_fc_layout == 'oembed' %}
					{{ block.oembed }}
				{% else %}
					{{ block.text }}
				{% endif %}
			{% endfor %}

			<aside class="page__linked-content">
				{% if link_lists %}
					{% for block in link_lists.link_lists %}
						<div class="page__linked-content-block{% if block.full_width %} page__linked-content-block--full-width{% endif %}">
							{% if block.acf_fc_layout == 'manual' %}
								{% include 'molecules/m-link-list.twig' with {
									'block_title': block.block_title,
									'links': block.linked_content
								} only %}
							{% else %}
								{% include 'molecules/m-link-list.twig' with {
									'block_title': block.block_title,
									'links': PostQuery({
										'posts_per_page': 4,
										'category__in': block.linked_content.categories,
										'tag__in': block.linked_content.tags,
										'post_status': 'publish'
									}),
									'full_width': block.full_width
								} only %}
							{% endif %}
						</div>
					{% endfor %}
				{% endif %}
			</aside>
		</div>
	</article>
{% endblock %}
