{% extends "base.twig" %}

{% block content %}
	{% set main_content = post.get_field('main_content') %}
	{% set link_lists = post.get_field('link_lists') %}
	<article class="page__grid{% if not post.share_buttons %} page__grid--no-sidebar{% endif %}">
		{% if main_content.header_image %}
			<div class="page__full page__header-image">
				{% include 'atoms/a-image.twig' with {
					'image': main_content.header_image,
					'size': 'full-width',
					'no_caption': 1
				} only %}
			</div>
		{% endif %}
		<div class="page__content">
			<header class="page__header-wrapper">
				<div class="page__header">
					<div class="page__breadcrumbs">
						{% include 'atoms/a-breadcrumbs.twig' %}
					</div>
					<h1>{{ post.title|wptexturize }}</h1>
					{% if not post.teaser_hide_on_page %}
						<div class="page__header-text page__header-text--bold">
							<p>{{ post.full_excerpt()|wptexturize|wpautop }}</p>
						</div>
					{% endif %}
				</div>
			</header>

			{% for block in main_content.content %}
				{% include 'content-block.twig' with {'block':block} only %}
			{% endfor %}
		</div>

		{% if is_press_release or post.categories or post.tags %}
			{% set has_post_meta = 1 %}
		{% endif %}
		<div
			class="page__post-meta-wrapper {% if main_content.header_image %}page__row--2{% else %}page__row--1{% endif %}">
			{% if has_post_meta %}
				<aside class="page__post-meta">
					{% include 'atoms/a-post-meta.twig' with {
						'iso_date': post.post_date,
						'nice_date': post.date,
						'categories': post.categories,
						'tags': post.tags,
						'author': post.author
					} only %}
				</aside>
			{% endif %}
			{% if (post.share_buttons) %}
				<div class="page__shareable{% if not has_post_meta %} page__shareable--margin-top{% endif %}">
					<aside class="page__share">
						{% include 'molecules/m-share.twig' with {
							'url': post.link,
							'text': post.title,
							'via': post.twitter_name,
						} only %}
					</aside>
				</div>
			{% endif %}
		</div>

		{% if link_lists and link_lists.link_lists %}
			<aside
				class="{% if link_lists.link_lists|length == 1 and not link_lists.link_lists.0.full_width %}page__content{% else %}page__wide{% endif %} page__linked-content">
				{% include 'organisms/o-linked-content.twig' with link_lists only %}
			</aside>
		{% endif %}
	</article>
{% endblock %}
