@use "sass:math";
@use "../../../scss/variables" as v;
@use "../../../scss/mixins" as m;

.a-submenu {
	width: 100%;
	max-width: 269px;

	@include m.media(v.$DESKTOP) {
		min-width: 177px;
	}

	&__title {
		@include m.clean-link;
		& {
			font-family: v.$font-title;
			display: block;
			line-height: 2em;
			color: v.$color-text;
			transition: color v.$transition-fast v.$transition-ease;
		}

		&:hover, &--active {
			color: v.$color-secondary;
		}

		&:focus {
			&:before {
				content: '';
				width: 0;
				height: 0;
				border-left: 1px solid v.$color-secondary;
				margin-right: 0.5em;
				margin-left: calc(-1px - 0.5em);

				@include m.media(v.$DESKTOP) {
					border-left-color: v.$color-primary;

					@include m.high-contrast {
						border-left-color: v.$color-primary-dark;
					}
				}
			}
		}

		@include m.media(v.$DESKTOP) {
			color: v.$color-primary;
			margin-bottom: 5px;
			padding-bottom: 12px;
			position: relative;
			line-height: 1.25em;
			transition: color v.$transition-fast v.$transition-ease;

			@include m.high-contrast {
				color: v.$color-primary-dark;
			}

			&:after {
				content: "";
				width: 0;
				height: 2px;
				background-color: v.$color-primary-dark;
				position: absolute;
				bottom: 0;
				left: 0;
				transition: width v.$transition-fast v.$transition-ease;
			}

			&:hover, &--active {
				color: v.$color-primary-dark;

				&:after {
					width: 69px;
				}
			}
		}
	}

	&__list {
		@include m.clean-ul;
		& {
			list-style-image: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7); // fix edge bug
		}
	}

	&__item {
		@include m.clean-li;
		& {
			color: v.$color-text;
			margin: 1em 0 0 1.25em;
		}

		@include m.media(v.$DESKTOP) {
			margin: 0;
		}
	}

	&__link {
		@include m.clean-link;
		& {
			color: v.$color-text;
			line-height: 1.75em;
			padding: 7px 0;
			display: block;
			position: relative;
			transition: color v.$transition-fast v.$transition-ease;
		}

		&:hover, &--active {
			color: v.$color-secondary;

			@include m.media(v.$DESKTOP) {
				color: v.$color-text;
			}
		}

		&:focus {
			&:before {
				content: '';
				width: 0;
				height: 0;
				border-left: 1px solid v.$color-secondary;
				margin-right: 0.5em;
				margin-left: calc(-1px - 0.5em);

				@include m.media(v.$DESKTOP) {
					border-left-color: v.$color-primary;

					@include m.high-contrast {
						border-color: v.$color-primary-dark;
					}
				}
			}
		}

		@include m.media(v.$DESKTOP) {
			&:after {
				content: "";
				width: 36px;
				height: 1px;
				background-color: v.$color-grey-2;
				position: absolute;
				bottom: 0;
				left: 0;
				transition: width v.$transition-fast v.$transition-ease;
			}

			&:hover, &--active {
				color: v.$color-text;

				&:after {
					width: 69px;
					background-color: v.$color-primary;

					@include m.high-contrast {
						background-color: v.$color-primary-dark;
					}
				}
			}
		}
	}

	&--featured {
		margin-top: 2em;

		@include m.media(v.$DESKTOP) {
			margin-top: initial;
		}

		&__image {
			margin-top: 28px;
			@include m.aspect-ratio-box(56.25%);
		}

		&__link {
			@include m.clean-link;

			&__image {
				width: 100%;
				margin-top: 28px;
				transition: transform v.$transition-fast v.$transition-ease;
			}

			&__title {
				@include m.heading-font;
				& {
					font-size: 1.25rem;
					line-height: 1.4em;
					margin-top: 16px;
					transition: color v.$transition-fast v.$transition-ease;
				}

				@include m.hover {
					color: v.$color-primary-dark;
				}
			}
		}
	}

	&--featured__text {
		margin-top: 12px;
		margin-bottom: 28px;
	}
}
