.m-vote {
  position: relative;
  width: 100%;
  max-width: 689px;
  padding: 0.5em 0;

  &__title {
    margin: 0 3.1914893617em 0 0;

    @include media($_MOBILE) {
      font-size: 1rem;

      &:after {
        content: "";
        width: 0.6em;
        height: 0.6em;
        border-color: $color-primary;
        border-top: 0.1666666667em solid; // 2/12
        border-right: 0.1666666667em solid; // 2/12
        transform: translateX(-0.2em) rotate(45deg);
        position: absolute;
        right: 0;
        bottom: 0.8em;
      }
    }
  }

  &__tag {
    position: absolute;
    top: 10px;
    right: 0;

    @include media($_DESKTOP){
      top: 13px;
    }
  }
}