<div class="m-vote{{#if excerpt}} m-vote--excerpt{{/if}}">
	<div class="m-vote__tag">
		{{> @a-vote-tag vote-tag}}
	</div>
	<h3 class="m-vote__title">{{ label }}</h3>
	{{#if excerpt}}
		<p class="m-vote__excerpt">{{ excerpt }}</p>
		<div class="m-vote__link-button">
			{{> @a-link-button url='' label="Mehr über die Vorlage"}}
		</div>
	{{/if}}
</div>
