@use "sass:math";
@use "../../../scss/variables" as v;
@use "../../../scss/mixins" as m;

.a-map {
	width: 100%;
	height: 100%; // IE copmat

	.map-item {
		cursor: pointer;

		path {
			transition: fill v.$transition-fast v.$transition-ease;
			fill: v.$color-primary-super-light;
			stroke: #B5B4B4;
			stroke-width: 0.5px;

			@include m.high-contrast {
				stroke: v.$color-grey-3;
			}
		}

		text {
			font-family: v.$font-primary;
			font-size: 0.75rem;
			font-weight: v.$font-weight-bold;
			letter-spacing: 0.015em;
			fill: v.$color-grey-3;
			display: none;

			@include m.high-contrast {
				fill: v.$color-text;
			}
		}

		@include m.media(v.$DESKTOP) {
			text {
				display: block;
			}
		}

		&.is-active {
			path {
				fill: v.$color-primary-light;
				stroke: v.$color-grey-3;
			}

			text {
				fill: v.$color-text-light;
				@include m.high-contrast {
					fill: v.$color-text;
				}
			}
		}

		@include m.hover {
			@extend .is-active;
		}
	}
}

