.o-front-events {
	@extend .grid-item;
	padding-left: 0;
	padding-right: 0;

	@include media($_DESKTOP) {
		max-width: $grid-max-width-max;
	}

	&__cat-title {
		margin-bottom: 4px;
		@include fluid-grid-item-props(margin-left);

		@include media($_DESKTOP) {
			margin-bottom: 25px;
		}
	}

	&__events {
		width: 100%;
		display: grid;
		align-items: stretch;
		grid-template-columns: 1fr;
		@include fluid-props(grid-column-gap, $size-medium, $grid-max-width-max, $grid-gap-min, $grid-gap-max);
	}

	&--full-width &__events {
		@include media($_DESKTOP) {
			grid-template-columns: 1fr 1fr;
		}
	}

	&__inner {
		border-bottom: 1px solid $color-grey-2;
		height: 100%;
	}

	&__event {
		width: 100%;
		@include fluid-grid-item-props(padding-left padding-right);

		@include hover {
			background-color: $color-grey-1;
		}

		&--hidden {
			display: none;
		}
	}

	&__more {
		padding-top: 16px;
		@include fluid-grid-item-props(padding-left);

		&.is-hidden {
			display: none;
		}
	}
}
