<div class="o-front-events {{modifiers_classes}}">
	<div class="o-front-events__cat-title">
		{{> @a-cat-title cat-title}}
	</div>
	<div class="o-front-events__events">
		{{#each events}}
			<a class="o-front-events__event{{#if this.hidden}} o-front-events__event--hidden{{/if}}" href="{{this.link}}">
				{{> @m-front-event this }}
			</a>
		{{/each}}
	</div>
	<div class="o-front-events__more">
		{{> @a-link-button link-button}}
	</div>
</div>
