@use "sass:math";
@use "../../../scss/variables" as v;
@use "../../../scss/mixins" as m;
@use "../../../scss/grid" as g;

.o-engagement-map {
	max-width: 651px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	// hack: make sure there's never a gap between this and the footer
	// else the fixed image from above might be seen. needed because of rounding.
	margin-bottom: -1px;
	@include m.fluid-grid-item-props(padding);

	@include m.media(v.$MOBILE) {
		padding-bottom: 80px;
	}

	@include m.media(v.$DESKTOP) {
		max-width: v.$grid-max-width-max;
	}

	&__title {
		@include m.fluid-props(font-size, v.$size-tiny, v.$size-medium, 32px, 48px);
		@include m.fluid-props(margin-top, v.$size-tiny, v.$size-medium, 20px, 34px);
		@include m.fluid-props(margin-bottom, v.$size-tiny, v.$size-medium, 26px, 56px);
	}

	&__main-wrapper {
		@include m.media(v.$DESKTOP) {
			display: grid;
			grid-template-columns: 40% 60%;
			@include m.fluid-props(grid-gap, v.$size-medium, v.$grid-max-width-max, v.$grid-gap-min, v.$grid-gap-max);
		}

		@include m.only_ie10_above {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			align-items: stretch;
		}
	}

	&__desc-wrapper {
		@include m.only_ie10_above {
			width: 40%;
		}
	}

	&__map-wrapper {
		@include m.only_ie10_above {
			width: 60%;
		}
	}
}
