.m-front-article {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly; // mm
	height: 100%; // mm

	&__title {
		@include fluid-props(font-size, $size-tiny, $size-medium, 20px, 24px);
		@include fluid-props(margin-top, $size-tiny, $size-medium, 4px, 12px);
		margin-bottom: 0.5em;
	}

	&--image-second &__title,
	&--no-image &__title {
		margin-top: 0;
	}

	&__title-link {
		@include clean-link;
		line-height: 1.4em;
		color: $color-primary;
		transition: color $transition-fast $transition-ease;
		hyphens: auto;

		@include hover {
			color: $color-primary-dark;
		}
	}

	&__image {
		margin-bottom: 12px;
		width: 100%;
		@include aspect-ratio-box(56.25%);
	}

	&--image-first &__image {
		order: -1;
	}

	&__text, &__list {
		margin-top: 0;
		margin-bottom: 0.5em;
	}

	&--stretch {
		height: 100%;
	}

	&--stretch &__link-button {
		flex-grow: 1;
		display: flex;
		flex-direction: row;
		align-items: flex-end;
		@include fluid-props(margin-bottom, $fluid-min, $fluid-max, 10px, 24px);
		@include fluid-props(margin-top, $fluid-min, $fluid-max, 0px, 24px);
	}
}
