<h2 class="a-cat-title">
	{% if link.type == 'none' %}
		<span class="a-cat-title__link a-cat-title__link--no-link">{{ title }}</span>
	{% else %}
		{% if link.type == 'category' %}
			{% set url = TimberTerm(link.category).link %}
		{% elseif link.type == 'internal' %}
			{% set url = link.internal.link %}
		{% else %}
			{% set url = link.url %}
		{% endif %}
		<a class="a-cat-title__link" href="{{ url }}">{{ title }}</a>
	{% endif %}
</h2>
