<section class="a-footer-link-list">
	{{ title }}
	<ul class="a-footer-link-list__list">
		{% for item in list %}
			<li class="a-footer-link-list__item">
				<a href="{{ item.link }}" {{ link_props(item.link) }} class="a-footer-link-list__link">{{ item.label }}</a>
			</li>
		{% endfor %}
	</ul>
</section>
