<button class="a-hamburger"
				aria-label="{{ __('Toggle navigation', constant('THEME_DOMAIN')) }}"
				accesskey="1"
				type="button"
				aria-haspopup="true"
				aria-expanded="false"
				aria-controls="menu">
  <span class="a-hamburger__box">
    <span class="a-hamburger__inner"></span>
  </span>
</button>
