<div class="a-link-image">
    <a class="a-link-image__link" href="{{ url }}" tabindex="-1">
        <img class="a-link-image__image" {{ image|get_timber_image_responsive('full-grid') }}>
    </a>
</div>