{% if 'facebook' == type %}
	{% set link = link|social_link('facebook') %}
{% elseif 'twitter' == type %}
	{% set link = link|social_link('twitter') %}
{% elseif 'instagram' == type %}
	{% set link = link|social_link('instagram') %}
{% endif %}

{% if modifier %}
	{% set svg = type~'--'~modifier %}
{% else %}
	{% set svg = type %}
{% endif %}

{% if not title %}
	{% set title = type %}
{% endif %}

<a href="{{ link }}" class="a-social-icon" target="_blank" title="{{ title }}">
	<svg role="img">
		<title>{{ title }}</title>
		<use xlink:href="#{{ svg }}"></use>
	</svg>
</a>
