.a-bar {
	font-family: $font-bar;
	font-weight: $font-weight-extra;
	color: $color-white;
	text-transform: uppercase;
	line-height: 1em;

	display: inline-block;
	padding: .15em .2em 0;
	margin-bottom: 0.1em;

	&--left {
		padding-left: 5em;
	}

	&--right {
		padding-right: 5em;
	}

	&--green {
		background: $color-primary;
	}

	&--magenta {
		background: $color-secondary;
	}

	&--white {
		background: $color-white;
		color: $color-primary;
	}

	&--subline {
		font-size: 0.4em;

		&.a-bar--left {
			padding-left: 12.6em; // +0.1em for identical letter start
		}

		&.a-bar--right {
			padding-right: 12.6em; // +0.1em for identical letter start
		}
	}
}
