<footer class="o-footer">
	<section class="o-footer__main">
		<div class="o-footer__link-list">
			{{render '@a-footer-link-list'}}
		</div>
		<div class="o-footer__cta">
			{{render '@m-footer-cta'}}
		</div>
		<div class="o-footer__contact">
			{{render '@m-footer-contact'}}
		</div>
	</section>
	<section class="o-footer__meta">
		{{render '@a-footer-meta'}}
	</section>
</footer>
