.o-positions {
	@extend .grid-item;

	@include media($_DESKTOP) {
		max-width: $grid-max-width-max;
	}

	&__cat-title {
		margin-bottom: 22px;

		@include media($_DESKTOP) {
			margin-bottom: 47px;
		}
	}

	&__articles {
		width: 100%;
		display: grid;
		grid-template-columns: 1fr;
		@include fluid-props(grid-column-gap, $size-medium, $grid-max-width-max, $grid-gap-min, $grid-gap-max);
		grid-row-gap: 40px;
		align-items: start;

		@include media($_DESKTOP) {
			grid-template-columns: 1fr 1fr;
			grid-row-gap: 64px;
			align-items: start;
		}
	}

	&__article {
		width: 100%;

		@include media($_DESKTOP) {
			&:nth-of-type(even) {
				@include fluid-grid-item-props(padding-left);
			}

			&:nth-of-type(odd) {
				@include fluid-grid-item-props(padding-right);
			}
		}

		@include only_ie10_above {
			&:nth-of-type(even) {
				padding: 30px 0;
			}
		}
	}
}
