<article class="o-positions">
	<div class="o-positions__cat-title">
		{{> @a-cat-title cat-title}}
	</div>
	<div class="o-positions__articles">
		{{#each articles}}
			<div class="o-positions__article">
				{{> @m-front-article this }}
			</div>
		{{/each}}
	</div>
</article>
