@use "sass:math";
@use "../../../scss/variables" as v;
@use "../../../scss/mixins" as m;

.a-button {
	@include m.clean-link;
	
	& {
		font-size: 0.875em; // keep this as em
		display: inline-block;
		line-height: 1.71428em; // 24/14
		letter-spacing: .08928em; // 1.25/14
		padding-left: 1.57142em; // 22/14
		padding-right: 1.57142em; // 22/14
		background-color: v.$color-primary;
		border-color: v.$color-primary;
		border-radius: .14285em; // 2/14
		color: v.$color-white;
		font-family: v.$font-secondary;
		font-weight: v.$font-weight-bold;
		text-align: center;
		text-transform: uppercase;
		cursor: pointer;
		transition: background-color v.$transition-fast v.$transition-ease, color v.$transition-fast v.$transition-ease;
	}
	
	@include m.fluid-props(padding-top padding-bottom, v.$fluid-min, v.$fluid-max, 6px, 10px);

	@include m.high-contrast {
		background-color: v.$color-primary-dark;
		border-color: v.$color-primary-dark;
	}

	@include m.hover {
		background-color: v.$color-primary-dark;

		@include m.high-contrast {
			color: v.$color-white;
		}
	}

	&.a-button--outline {
		color: v.$color-primary;

		@include m.high-contrast {
			color: v.$color-primary-dark;
		}

		@include m.hover {
			background-color: v.$color-primary;

			@include m.high-contrast {
				background-color: v.$color-primary-dark;
			}
		}
	}

	&--full-width {
		width: 100%;
	}
}

.a-button--secondary {
	& {
		background-color: v.$color-secondary;
		border-color: v.$color-secondary;
	}

	@include m.hover {
		background-color: v.$color-secondary-dark;
	}

	&.a-button--outline {
		& {
			color: v.$color-secondary;
		}

		@include m.hover {
			background-color: v.$color-secondary;
		}
	}
}

.a-button--outline {
	& {
		background-color: transparent;
		border-width: 1px;
		border-style: solid;
	}

	@include m.hover {
		color: v.$color-white;
	}
}

.a-button--transparent {
	& {
		background-color: transparent;
		border-width: 1px;
		border-style: solid;
		color: v.$color-white;
		border-color: v.$color-white;
	}
}
