.a-vote-tag {
	@include clean-link;

	display: inline-block;
	padding: 0.3333333333em 0.3333333333em 0.4166666667em;
	border-radius: 2px;
	text-align: center;
	text-transform: uppercase;
	font-size: 0.75rem;
	font-weight: $font-weight-bold;
	font-family: $font-title;
	letter-spacing: 0.04166666667em;
	width: 3.6666666667em;

	@include media($_DESKTOP) {
		font-size: 0.875rem;
		padding: 0.4285714286em 0 0.5em;
		width: 4.2857142857em;
	}

	&--free {
		background-color: $color-grey-2;
	}

	&--no {
		background-color: lighten($color-red, 44%);
		color: $color-red;
	}

	&--yes {
		background-color: lighten($color-primary, 44%);
		color: $color-primary-dark;
	}
}