.m-share {
	$size: 40px;

	height: $size;
	display: flex;

	@include media($_DESKTOP){
		height: auto;
		width: $size;
	}

	&__icon {
		height: $size;
		width: $size;
		margin-right: $size / 3;
		background: $color-white;

		@include media($_DESKTOP) {
			margin-bottom: $size / 3;
			margin-right: 0;
		}
	}

	&__desc {
		margin-right: #{$size / 2};
		order: -1;
		position: relative;
		display: flex;
		align-items: center;

		@include media($_DESKTOP) {
			margin: #{$size / 2} 0;
			order: 99;
		}
	}

	&__rotator {
		text-transform: uppercase;
		font-weight: $font-weight-bold;
		font-family: $font-title;
		color: $color-grey-3;
		display: block;

		@include media($_DESKTOP) {
			position: absolute;
			left: 50%;
			top: 0;
			bottom: auto;
			transform-origin: bottom left;
			transform: rotate(90deg) translateX(#{-$size / 2}) translateY(50%);
		}
	}

	&__buttons {
		display: flex;
		justify-content: flex-end;
		width: 0;
		height: $size;
		overflow: hidden;
		transition: width $transition-mid $transition-ease;

		&.is-open {
			width: 100vw;
		}

		@include media($_DESKTOP) {
			width: auto;
			height: auto;
			flex-direction: column;
			overflow: visible;
		}
	}

	&__mobile {
		display: block;
		padding: 0;
		line-height: 0;

		@include media($_DESKTOP) {
			display: none;
		}

		svg {
			width: $size;
			height: $size;
			fill: $color-primary;
			transition: fill $transition-fast $transition-ease;

			@include hover {
				fill: $color-primary-dark;
			}
		}
	}
}
