<div class="page page--overview">
	{{render '@o-header'}}
	<main class="page__main">
		<article class="page__grid{{#unless shareable}} page__grid--no-sidebar{{/unless}}">
			<header class="page__full page__grid{{#unless shareable}} page__grid--no-sidebar{{/unless}} page__header-wrapper page__header-wrapper--highlighted">
				<div class="page__wide page__wide--content-width page__header">
					<div class="page__breadcrumbs">
						{{render '@a-breadcrumbs'}}
					</div>
					<h1>Für ein gesundes Klima und eine intakte Umwelt</h1>
					<div class="page__header-text">
						<p>Wir GRÜNE stehen ein für den Schutz von Klima und Umwelt. Wir setzen auf erneuerbare Energie und fordern
							den Ausstieg aus Braunkohle und Atomkraft. Wir wollen einen starken öffentlichen Verkehr und nicht noch
							mehr Autobahnen. Und wir setzen uns dafür ein, dass die Artenvielfalt und lebenswichtige Naturräume
							geschützt werden. Damit die Lebensgrundlagen von heute auch für die zukünftigen Generationen erhalten
							bleiben.</p>
					</div>
				</div>
			</header>
			<div class="page__wide">
				<div class="page__preview-articles">
					{{#each articles}}
						<article class="page__preview-article">
							{{> @m-front-article this}}
						</article>
					{{/each}}
				</div>
			</div>
		</article>
	</main>
	<div class="page__footer">
		{{render '@o-footer'}}
	</div>
</div>
