.page {
	$text-max-width: 600px;
	$content-max-width: $size-medium;
	$margin-size-min: 12px;
	$margin-size-max: 120px;

	&__content {
		max-width: $content-max-width;
		width: calc(100% - #{2*$margin-size-min});
		margin: 0 auto;
		@include fluid-props(padding-left padding-right, $fluid-min, $fluid-max, $margin-size-min, $margin-size-max);

		& > p {
			max-width: $text-max-width;
			width: 100%;
		}
	}

	&__breadcrumbs {
		@include fluid-props(margin-top, $fluid-min, $fluid-max, 40px, 60px);
	}

	&__box {
		background-color: $color-grey-1;
		@include fluid-props(padding-left padding-right, $fluid-min, $fluid-max, $margin-size-min, $margin-size-max);
		@include fluid-props(padding-top padding-bottom, $fluid-min, $fluid-max, $margin-size-min, 96px);
		@include fluid-props(margin-left margin-right, $fluid-min, $fluid-max, -$margin-size-min, -$margin-size-max);
		@include fluid-props(margin-top margin-bottom, $fluid-min, $fluid-max, 50px, 100px);
		width: calc(100% + 2 * (#{$margin-size-min} + #{$margin-size-max - $margin-size-min} * (100vw - #{$fluid-min}) / #{$fluid-max - $fluid-min});
	}

	&__quote {
		@include fluid-props(margin-top margin-bottom, $fluid-min, $fluid-max, 50px, 100px);
	}

	&__linked-content {
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 50px;
		@include fluid-props(margin-top margin-bottom, $fluid-min, $fluid-max, 50px, 100px);

		@include media($_DESKTOP) {
			grid-template-columns: 1fr 1fr;
		}
	}
}
