@use "sass:math";
@use "../../../scss/variables" as v;
@use "../../../scss/mixins" as m;
@use "../../../scss/grid" as g;

.o-people-grid {
	&--horizontal {
		width: 100%;
		height: 100%;
		overflow: hidden;
		background: v.$color-grey-1;
		position: relative;
		z-index: 1; // Fix of Webkit flickering
		@include m.fluid-props(margin-top margin-bottom padding-top padding-bottom, v.$fluid-min, v.$fluid-max, 5px, 25px);
	}

	&--horizontal &__wrapper {
		max-width: 651px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		@include m.fluid-grid-item-props(padding);

		@include m.media(v.$DESKTOP) {
			max-width: v.$grid-max-width-max;
		}
	}

	&__cat-title {
		@include m.fluid-props(margin-bottom, v.$size-tiny, v.$size-medium, 20px, 34px);
	}

	&__title {
		@include m.fluid-props(font-size, v.$size-tiny, v.$size-medium, 32px, 48px);
		@include m.fluid-props(margin-top, v.$size-tiny, v.$size-medium, 20px, 34px);
		@include m.fluid-props(margin-bottom, v.$size-tiny, v.$size-medium, 26px, 56px);
	}

	&--vertical &__slider {
		display: grid;
		grid-gap: 32px;
		align-content: space-between;
		grid-auto-flow: row;
		grid-template-columns: 1fr;

		@include m.media(480px) {
			grid-template-columns: repeat(2, calc(50% - 16px));
		}

		@include m.media(v.$size-medium) {
			grid-template-columns: repeat(3, 242px);
		}
	}

	&--horizontal &__slider {
		display: flex;
		align-items: stretch;
		position: relative;
		z-index: 1;
		transition-property: transform;
		box-sizing: content-box;
		transform: translate3d(0px, 0, 0);
		cursor: grab;
	}

	&__slide {
		background: v.$color-white;
	}

	&--horizontal &__slide {
		@include m.fluid-props(margin-right, v.$size-tiny, v.$size-medium, 20px, 32px);
		& {
			position: relative;
			transition-property: transform;
		}

		.m-person-slide {
			width: 220px;

			@include m.media(v.$size-tiny) {
				width: 280px;
			}

			@include m.media(v.$DESKTOP) {
				width: 288px;
			}
		}
	}

	&__slide-button {
		display: none;
		position: absolute;
		z-index: 10;
		width: 108px;
		padding-top: 0;
		padding-bottom: 0;
		@include m.fluid-props(top, v.$size-small, v.$size-medium, 211px, 240px); // dont ask
		@include m.fluid-props(top, v.$size-medium, v.$fluid-max, 240px, 269px); // dont ask
		@include m.fluid-props(top, v.$fluid-max, 2000px, 269px, 282px); // dont ask
		& {
			height: 252px;
			cursor: pointer;
		}

		@include m.media(v.$size-small) {
			display: block;
		}

		@include m.media(v.$DESKTOP) {
			height: 259px;
		}

		@media screen and (hover: none) and (max-width: 1023px) {
			// don't combine this query with the one above to work around the missing support in firefox
			display: none;
		}

		&.swiper-button-disabled {
			display: none;
		}

		@include m.hover {
			svg {
				fill: v.$color-primary-dark;
			}
		}

		svg {
			height: 48px;
			width: 48px;
			fill: v.$color-primary;
			stroke: v.$color-white;
			transition: fill v.$transition-fast v.$transition-ease;

			@include m.high-contrast {
				fill: v.$color-primary-dark;
			}
		}

		&--left {
			left: 0;

			svg {
				transform: rotate(180deg);
			}
		}

		&--right {
			right: 0;
		}
	}
}
