@use "sass:math";
@use "../../../scss/variables" as v;
@use "../../../scss/mixins" as m;

.m-in-short {
	&__title {
		@include m.heading-font;

		& {
			font-size: 1.25rem; // 20/16
		}

		@include m.media(v.$DESKTOP) {
			font-size: 1.46875rem; // 23.5/16
		}
	}

	.m-in-short__title {
		// we need two levels of binding to overwrite the @extend from above
		color: v.$color-text;
		margin-top: 0;
	}

	&__item {
		hyphens: auto;
	}
}
