.m-in-short {
	&__title {
		@extend h3;
	}

	.m-in-short__title {
		// we need two levels of binding to overwrite the @extend from above
		color: $color-text;
		margin-top: 0;
	}

	&__item {
		hyphens: auto;
	}
}
