<div class="m-in-short">
	<h2 class="m-in-short__title">{{title}}</h2>
	{{# if bullet_points}}
		<ul>
			{{#each bullet_points}}
				<li>{{.}}</li>
			{{/each}}
		</ul>
	{{/if}}
	<form class="m-in-short__grid">
		<div class="m-in-short__postal-code">{{> @a-input call_to_action.input-postal-code}}</div>
		<div class="m-in-short__email">{{> @a-input call_to_action.input-email}}</div>
		<div class="m-in-short__consent">{{> @a-checkoption call_to_action.checkbox}}</div>
		<div class="m-in-short__button">{{> @a-button call_to_action.button}}</div>
	</form>
</div>
