<div class="m-skip-link">
	{{> @a-link-button url="#main-content" label="Zum Inhalt springen" modifiers="white" }}
</div>


<a id="main-content" aria-hidden="true" tabindex="-1" class="m-skip-link__target"></a>
