<div class="a-link-image">
    <a class="a-link-image__link" href="{{ url }}" tabindex="-1">
        <img class="a-link-image__image" src="{{ image-src }}" alt="{{ alt }}" title="{{ title }}">
    </a>
</div>