@use "sass:math";
@use "../../../scss/variables" as v;
@use "../../../scss/mixins" as m;

.a-social-icon {
	@include m.clean-link;
	& {
		width: 100%;
		height: 100%;
		display: block;
		position: relative;
		line-height: 1em;
		padding: 0;
	}

	&__figure {
		height: 100%;
		width: 100%;
	}

	&__caption {
		display: none;
		text-transform: uppercase;
		color: v.$color-primary;
		text-align: center;
		transition: all v.$transition-fast v.$transition-ease;
		position: relative; // fixes safari cutting of multiline labels

		@include m.high-contrast {
			color: v.$color-primary-dark;
		}

		@media all and (min-width: 480px) {
			display: block;
			font-size: 0.625rem;
		}

		@media all and (min-width: v.$size-small) {
			font-size: 0.75rem;
		}
	}

	&__svg {
		fill: v.$color-primary;
		stroke: v.$color-primary;
		transition: all v.$transition-fast v.$transition-ease;
		width: 100%;
		height: 100%;

		@include m.high-contrast {
			fill: v.$color-primary-dark;
			stroke: v.$color-primary-dark;
		}

		@media all and (min-width: 480px) {
			&--with-caption {
				height: calc(100% - 1.2rem);
				margin-bottom: -0.3rem;
			}
		}
	}

	@include m.hover {
		.a-social-icon__svg {
			fill: v.$color-primary-dark;
			stroke: v.$color-primary-dark;
		}

		.a-social-icon__caption {
			color: v.$color-primary-dark;
		}
	}

	&__copied {
		position: absolute;
		top: 0;
		right: 100%;
		background: v.$color-grey-1;
		padding: 0.125em 0.25em;
		border-radius: 3px;
		opacity: 0;
		transition: top ease-out 1s, opacity linear 0.5s 0.5s;
		text-transform: uppercase;
		font-size: 0.6125rem;
		color: v.$color-primary-dark;
		font-family: v.$font-secondary;
		font-weight: v.$font-weight-bold;
		letter-spacing: 0.08928em;
		z-index: 1;

		@include m.media(v.$DESKTOP) {
			font-size: 0.75rem;
			right: auto;
			left: 50%;
			transform: translateX(-50%);
		}

		&--visible {
			top: 50%;
			opacity: 1;
			transition: none;
		}
	}
}
