@use "sass:math";
@use "../../../scss/variables" as v;
@use "../../../scss/mixins" as m;

.a-pagination {
	&__list {
		@include m.clean-ul;
		& {
			display: inline-block;
			margin: 0 0.75em;
		}
	}

	&__item {
		@include m.clean-li;
		display: inline-block;
	}

	&__link {
		@include m.clean-link;
		
		& {
			display: inline-block;
			transition: color v.$transition-fast v.$transition-ease;
			color: v.$color-primary;
		}
		
		@include m.fluid-props(margin-left margin-right, v.$fluid-min, v.$size-medium, 5px, 16px);

		@include m.high-contrast {
			color: v.$color-primary-dark;
		}

		@include m.hover {
			color: v.$color-primary-dark;
		}

		&--icon {
			stroke: v.$color-primary;
			transition: stroke v.$transition-fast v.$transition-ease;

			@include m.hover {
				stroke: v.$color-primary-dark;
			}

			@include m.high-contrast {
				stroke: v.$color-primary-dark;
			}

			svg {
				height: 0.7rem;
				max-width: 1rem;
			}
		}

		&--disabled {
			stroke: v.$color-grey-2;

			@include m.hover {
				stroke: v.$color-grey-2;
			}

			@include m.high-contrast {
				stroke: v.$color-grey-3;
			}
		}

		&--first,
		&--prev {
			transform: rotate(180deg);
		}

		&--first,
		&--last {
			margin: 0;
		}

		&--prev,
		&--next {
			margin: 0 0.5em;
		}

		&--current {
			color: v.$color-text;

			@include m.hover {
				color: v.$color-text;
			}

			@include m.high-contrast {
				text-decoration: underline v.$color-primary-dark;
			}
		}
	}
}
