<div class="o-front-article-single">
    <div class="o-front-article-single__cat-title">
        {{> @a-cat-title cat-title}}
    </div>
    <div class="o-front-article-single__article">
        {{> @m-front-article--image-first front-article }}
    </div>
    <div class="o-front-article-single__cta">
        <div class="o-front-article-single__cta-button">
            {{> @a-button cta }}
        </div>
        <div class="o-front-article-single__cta-label">
            {{ cta-help-text }}
        </div>
    </div>
</div>