{% set bar_alignment_class = 'a-bar--' ~ alignment %}

<div class="m-bars m-bars--{{ alignment }}">
    <div class="m-bars__rotator">
        <div class="m-bars__positioner">
            {% for bar in green_bars %}
                <div class="m-bars__bar">
                    {% include 'atoms/a-bar.twig' with {
                        'label': bar.green_bar,
                        'modifiers': ['a-bar--green', bar_alignment_class]
                    } only %}
                </div>
            {% endfor %}
            {% for bar in white_bars %}
                <div class="m-bars__bar">
                    {% include 'atoms/a-bar.twig' with {
                        'label': bar.white_bar,
                        'modifiers': ['a-bar--white', bar_alignment_class]
                    } only %}
                </div>
            {% endfor %}
            {% for bar in magenta_bars %}
                <div class="m-bars__bar">
                    {% include 'atoms/a-bar.twig' with {
                        'label': bar.magenta_bar,
                        'modifiers': ['a-bar--magenta', bar_alignment_class]
                    } only %}
                </div>
            {% endfor %}
            {% for bar in white_subline_bars %}
                <div class="m-bars__bar">
                    {% include 'atoms/a-bar.twig' with {
                        'label': bar.white_subline_bar,
                        'modifiers': ['a-bar--subline','a-bar--white', bar_alignment_class]
                    } only %}
                </div>
            {% endfor %}
            {% for bar in green_subline_bars %}
                <div class="m-bars__bar">
                    {% include 'atoms/a-bar.twig' with {
                        'label': bar.green_subline_bar,
                        'modifiers': ['a-bar--subline','a-bar--green', bar_alignment_class]
                    } only %}
                </div>
            {% endfor %}
        </div>
    </div>
</div>
