<section class="m-branding" role="banner">
    <div class="m-branding__wrapper">
        <div class="m-branding__row">
            <h1 class="m-branding__title">
                {% for unbreakeable in unbreakeables %}
                    <span class="m-branding__unbreakeable">{{ unbreakeable }}</span>
                {% endfor %}
            </h1>
            <a href="/" title="{{ pll__('Home') }}">
                {% include 'atoms/a-logo.twig' with {'white': true, 'theme_uri': theme_uri} only %}
            </a>
        </div>
    </div>
</section>