<section class="m-branding" role="banner">
	<div class="m-branding__wrapper">
		<div class="m-branding__row">
			<h1 class="m-branding__title">
				{% for unbreakeable in unbreakeables %}
					<span class="m-branding__unbreakeable">{{ unbreakeable|wptexturize }}</span>
				{% endfor %}
			</h1>
			{% if logo.image.id %}
				<a class="m-branding__logo" href="{{ fn('get_site_url') }}{# dont use site.url, it wont work correctly with polylang #}"
					 title="{{ __('Home', constant('THEME_DOMAIN')) }}">
					{% include 'atoms/a-logo.twig' with {'logo': logo} only %}
				</a>
			{% endif %}
		</div>
	</div>
</section>
