<div class="m-campaign-desc">
    <h2 class="m-campaign-desc__title">
        <a href="{{link}}" class="m-campaign-desc__link">{{title}}</a>
    </h2>
    <p class="m-campaign-desc__desc">{{teaser}}</p>
    <div class="m-campaign-desc__more">
        {% include 'atoms/a-link-button.twig' with {
            'label': read_more_text,
            'link': link
        } only %}
    </div>
</div>
