<div class="m-campaign-desc">
	<a id="main-content" aria-hidden="true" tabindex="-1" class="m-skip-link__target"></a>
	<h2 class="m-campaign-desc__title">
		{% if read_more_text %}
			<a href="{{ link }}" class="m-campaign-desc__link">{{ title|wptexturize }}</a>
		{% else %}{{ title|wptexturize }}{% endif %}
	</h2>
	<p class="m-campaign-desc__desc">{{ teaser|wptexturize }}</p>
	{% if read_more_text %}
		<div class="m-campaign-desc__more">
			{% include 'atoms/a-link-button.twig' with {
				'label': read_more_text,
				'link': link
			} only %}
		</div>
	{% endif %}
</div>
