<div class="m-campaign-cta">
	<h3 class="m-campaign-cta__title">
		<a href="{{ link }}" class="m-campaign-cta__title-link">{{ title }}</a>
	</h3>
	<p class="m-campaign-cta__text">{{ desc }}</p>
	{% if form %}
		{% filter shortcodes %}
			[torro_form id="{{ form }}"]
		{% endfilter %}
	{% endif %}
	{#<form class="m-campaign-cta__grid">#}
	{#<div class="m-campaign-cta__postal-code">{{> @a-input input-postal-code}}</div>#}
	{#<div class="m-campaign-cta__email">{{> @a-input input-email}}</div>#}
	{#<div class="m-campaign-cta__consent">{{> @a-checkoption checkbox}}</div>#}
	{#<div class="m-campaign-cta__button">{{> @a-button button}}</div>#}
	{#</form>#}
</div>
