<div class="m-campaign-cta">
	<h3 class="m-campaign-cta__title">{{ title|wptexturize }}</h3>
	<p class="m-campaign-cta__text">{{ desc|wptexturize }}</p>
	{% if form %}
		{% include 'molecules/m-form.twig' with {
			'post': ACFPost(form),
		} only %}
	{% endif %}
</div>
