<div class="m-campaign-cta">
	<h3 class="m-campaign-cta__title">{{ title|wptexturize }}</h3>
	<p class="m-campaign-cta__text">{{ desc|shortcodes|wptexturize }}</p>
	{% if 'form' == type and form %}
		{% include 'molecules/m-form.twig' with {
			'post': ACFPost(form),
		} only %}
	{% else %}
		<div class="m-campaign-cta__link">
			{% if 'button' == type and button %}
				{% include 'atoms/a-button.twig' with {
					'link': button.url,
					'label': button.title,
					'target': button.target,
					'modifiers': ['a-button--secondary']
				} only %}
			{% elseif 'link' == type and link %}
				{% include 'atoms/a-link-button.twig' with {
					'link': link.url,
					'label': link.title,
					'target': link.target
				} only %}
			{% endif %}
		</div>
	{% endif %}
</div>
