<div class="m-in-short">
	<h2 class="m-in-short__title">{{ title|wptexturize }}</h2>
	{% for block in content %}
		{% if block.acf_fc_layout == 'bullet_points' %}
			<ul class="m-in-short__list">
				{% for item in block.bullet_points %}
					<li class="m-in-short__item">{{ item.bullet_point|wptexturize }}</li>
				{% endfor %}
			</ul>
		{% elseif block.acf_fc_layout == 'call_to_action' %}
			{% filter shortcodes %}
				[torro_form id="{{ block.form }}"]
			{% endfilter %}
		{% else %}
			{{ block.text }}
		{% endif %}
	{% endfor %}
</div>
