<div class="m-link-list{% if full_width %} m-link-list--full-width{% endif %}">
	<div class="m-link-list__cat-title">
		{% include 'atoms/a-cat-title.twig' with block_title only %}
	</div>
	<ul class="m-link-list__list">
		{% for link in links %}
			{% if link.post_date %}
				{% set link = {
					'type':'autolist',
					'post_object': link,
					'full_width': full_width
				} %}
			{% endif %}
			<li class="m-link-list__item">
				{% include 'atoms/a-post-link.twig' with link only %}
				{# todo: implement events #}
			</li>
		{% endfor %}
	</ul>
</div>
