<div class="m-list-header">
	<h2 class="m-list-header__title-wrapper">
		<span class="m-list-header__counter">{{ counter }}</span>
		<span class="m-list-header__title">{{ title }}</span>
	</h2>
	<div class="m-list-header__criteria">
		<div class="m-list-header__criteria-desc">{{ __('In the categories:', constant('THEME_DOMAIN')) }}</div>
		<ul class="m-list-header__criteria-list">
			{% for category in categories %}
				<li class="m-list-header__criteria-item">{{ category }}</li>
				{# todo: make categories removeable and adjust search results accordingly. checkout https://searchwp.com/docs/hooks/searchwp_include/ #}
			{% endfor %}
		</ul>
	</div>
</div>
