{% set autolist = 0 %}

<div class="m-link-list{% if full_width %} m-link-list--full-width{% endif %}">
	<div class="m-link-list__cat-title">
		{% include 'atoms/a-cat-title.twig' with block_title only %}
	</div>
	<ul class="m-link-list__list">
		{% for link in links %}
			{% if link.post_date %}
				{% set autolist = 1 %}
				{% set link = {
					'type':'autolist',
					'post_object': link,
					'full_width': full_width
				} %}
			{% endif %}
			<li class="m-link-list__item">
				<div class="m-link-list__inner">
					{% if link.post_object.post_type == 'tribe_events' %}
						{% include 'atoms/a-event-link.twig' with {
							'event': link.post_object
						} only %}
					{% else %}
						{% include 'atoms/a-post-link.twig' with link only %}
					{% endif %}
				</div>
			</li>
		{% endfor %}
	</ul>
	{% if autolist and links.found_posts() > 4 %}
		<div class="m-link-list__more">
			{% include 'atoms/a-link-button.twig' with {
				'label': _x('All %d %s', 'Example: All 17 press releases', constant('THEME_DOMAIN'))|format(links.found_posts(), block_title.title),
				'link': 'XXXXXXXXXXXX'
			} only %}
			{# todo: add link #}
		</div>
	{% endif %}
</div>
