<div class="m-quote">
	<div class="m-quote__image-outer">
		<div class="m-quote__image-inner">
			{% include 'atoms/a-image.twig' with {
				'size': 'quote',
				'image': person.image,
				'no_caption': 1
			} only %}
		</div>
	</div>
	<div class="m-quote__caption">
		<div class="m-quote__quote">{{quote}}</div>
		<div class="m-quote__author">{{person.title}}{% if role %}, {{role}}{% endif %}</div>
	</div>
</div>
