<div class="m-skip-link">
	{% include 'atoms/a-link-button.twig' with {
		'label': __('Jump to main content', constant('THEME_DOMAIN')),
		'link': '#main-content',
		'modifiers': 'a-link-button--white'
	} only %}
</div>
