<div class="m-vote{% if excerpt %} m-vote--excerpt{% endif %}">
	<h3 class="m-vote__title">{{ label }}</h3>
	<div class="m-vote__tag">
		{% include 'atoms/a-vote-tag.twig' with { 'tag': tag } only %}
	</div>
	{% if excerpt %}
		<p class="m-vote__excerpt">{{ excerpt }}</p>
		<div class="m-vote__link-button">
			{% include 'atoms/a-link-button.twig' with {
				'link': '',
				'label': _x('More about this subject', 'A vote proposal is the subject', constant('THEME_DOMAIN'))
			} %}
		</div>
	{% endif %}
</div>
